
@import "../application_config.scss";

.code-of-ethics-container {

  /* BANNER */

  .header-image {
    background-image: linear-gradient(
      to top,
      rgba(30, 31, 46, 0.6),
      rgba(0, 0, 0, 0)),
      url("code_of_ethics/code-of-ethics-banner.jpg");
    background-size: cover;
    background-position: 50% 0%;
    height: 36rem;

    @media only screen and (max-width: $TABLET) {
      background-position: 40% 0%;
      height: 20rem;
    }

    div {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      height: inherit;

      @media only screen and (max-width: $TABLET) {
        justify-content: end;
        width: 100%;
        text-align: center;
      }
    }

    h1 {
      text-shadow: $BLACK 0 0 0.4rem;
      font-size: 4rem;
      margin-left: 5vw;
      padding: 0.2em 0;
      line-height: 1.25;
      letter-spacing: 2.3px;
      margin-top: 0.5rem;

      @media only screen and (max-width: $TABLET) {
        margin-left: 0;
        font-size: 3rem;
        margin-bottom: 1.2rem;
      }

      @media only screen and (max-width: $MOBILE) {
        font-size: 2.25rem;
      }
    }

    h5 {
      text-shadow: $BLACK 0 0 0.7rem;
      font-size: 16px;
      margin-left: 5vw;
      font-weight: 400;
      letter-spacing: 1.5px;

      @media only screen and (max-width: $TABLET) {
        margin-left: 0;
        font-size: 16px;
        letter-spacing: 1.4px;
        line-height: 1.3rem;
      }
    }
  }

  .content-container {
    padding: 2em 0;
  }

  .president-photo-container {
    @media only screen and (max-width: $TABLET) {
      display: flex;
      justify-content: center;
    }
    @media only screen and (max-width: $MOBILE) {
      display: flex;
      justify-content: center;
    }
  }

  .coe-statement-container {
    padding-left: 6%;

    @media only screen and (max-width: $TABLET) {
      padding: 0;
    }

    @media only screen and (max-width: $MOBILE) {
      padding: 0;
    }
  }

  .coe-statement-title {
    font-size: 28px;
    line-height: 1.5rem;
    letter-spacing: 1.5px;

    @media only screen and (max-width: $TABLET) {
      padding-top: 1.75rem;
      text-align: center;
    }

    @media only screen and (max-width: $MOBILE) {
      padding-top: 1.75rem;
      text-align: center;
    }
  }

  .coe-title {
    line-height: 1.3rem;
    letter-spacing: 1.5px;
  }

  .presidents-coe-statement {
    font-size: 18px;
    line-height: 1.5;
  }

  .president-sig-container {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }

  .president-sig {
    width: 12rem;
  }

  .coe-ethics-statement {
    font-size: 16px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: $BLACK;
  }

  .ethics-title {
    letter-spacing: 1px;
  }

  .ethics-category {
    font-size: 16px;
  }

  .ethics-category-photo {
    object-fit: cover;
  }
}