
@import "../application_config.scss";

.code-of-ethics-container {
  .banner-container .header-image {
    background-image: linear-gradient(
      to top,
      rgba(30, 31, 46, 0.4),
      rgba(0, 0, 0, 0)),
      url("code_of_ethics/code-of-ethics-banner.jpg");
    background-position: 50% 0%;

    @media only screen and (max-width: $MOBILE) {
      background-position: 40% 0%;
    }
  }

  .header-image {
    div {
      justify-content: flex-end;
      padding: 0 1.5rem !important;
    }

    h1 {
      width: 100%;
    }

    h5 {
      padding-top: 0.5rem;
      padding-bottom: 5rem;

      @media only screen and (max-width: $TABLET) {
        padding-bottom: 4rem;
      }
    }
  }

  .content-container {
    padding: 2em 0;
  }

  .president-photo-container {
    @media only screen and (max-width: $TABLET) {
      display: flex;
      justify-content: center;
    }
    @media only screen and (max-width: $MOBILE) {
      display: flex;
      justify-content: center;
    }
  }

  .coe-statement-container {
    padding-left: 6%;

    @media only screen and (max-width: $TABLET) {
      padding: 0;
    }
  }

  .coe-statement-title {
    color: $LIGHT-BLACK;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 1.5px;

    @media only screen and (max-width: $TABLET) {
      padding: 3rem 0 1rem;
      text-align: center;
    }
  }

  .coe-title {
    line-height: 1.3rem;
    letter-spacing: 1.5px;
  }

  .presidents-coe-statement {
    font-size: 16px;
    line-height: 2;
  }

  .president-sig-container {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
  }

  .president-sig {
    width: 12rem;
  }

  .coe-ethics-statement {
    font-size: 16px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    line-height: 2;
    color: $MED-GRAY;
  }

  .ethics-title {
    letter-spacing: 1px;
    color: $LIGHT-BLACK;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
  }

  .ethics-category {
    font-size: 16px;
    line-height: 2;
    color: $MED-GRAY;
  }

  .ethics-category-photo {
    object-fit: cover;
  }
}