<div class="banner-container font-roboto">
  <%= image_tag "join_us/join-us-banner.jpg", class: "banner-img", title: "Image by wirestock on Freepik" %>
  <div class="banner-content-container">
    <h3 class="tagline-secondary font-gotham">CHANGE IS COMING</h3>
    <h3 class="tagline-primary font-gotham-bold">
      Be part of a new ERA of animal rescue
    </h3>
    <%= link_to 'Apply Today', 'https://forms.gle/MeuWpkQyCRj2ky63A', class: 'button is-info call-to-action', target: '_blank' %>
  </div>
<div>