<div class="home-container">
  <div class="banner-container font-roboto">
    <%= image_tag "main/main-banner.jpg", class: "banner-img", title: "Image by wirestock on Freepik" %>
    <div class="banner-content-container">
      <h3 class="tagline-secondary font-gotham">CHANGE IS COMING</h3>
      <h3 class="tagline-primary font-gotham-bold">
        Be part of a new ERA of animal rescue
      </h3>
      <button class="payment-prompt-trigger button is-info call-to-action" data-target="payment-prompt">
        Apply Today
      </button>
    </div>
  <div>

  <%= render 'payment_prompt' %>
</div>