<div class="container is-max-desktop p-6 is-flex is-justify-content-center">
  <div class="container-small has-text-centered">
    <p>
      <h3 class="title is-4">This feature is currently unavailable.</h3>
    </p>
    <p>
      <h3 class="title is-5">Please check back later!</h3>
    </p>
  </div>
</div>