@import "../application_config.scss";

.application-funnel {

  &__overflow-top {
    overflow: hidden;
    height: 4rem;
  }

  &__overflow-bottom {
    overflow: hidden;
  }

  &__title {
    line-height: 1.25
  }
}