@import "../application_config.scss";

.application-funnel {
  margin: 2rem 0;

  @media only screen and (max-width: $TABLET-MD) {
    margin-top: 0;
  }

  &__buttons-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $TABLET-MD) {
      margin-top: 2.5rem;
    }
  }

  &__donate-btn {
    width: 107px;
  }

  &__title {
    line-height: 1.25;
    font-weight: 700 !important;
    margin-bottom: 2rem;

    @media only screen and (max-width: $TABLET-LG) {
      font-size: 2rem !important;
    }

    @media only screen and (max-width: $TABLET-LG) {
      font-size: 2rem !important;
    }
  }

  .funnel-step {
    &__container {
      margin-top: 0 !important;
      padding: 0 1rem;

      @media only screen and (max-width: $MOBILE) {
        padding: 0;
      }
    }

    &__subtitle {
      margin-bottom: 2.5rem !important;
      font-size: 1.15rem !important;
      line-height: 1.4;

      @media only screen and (max-width: $TABLET-MD) {
        margin-bottom: 1.5rem !important;
      }

      @media only screen and (max-width: $MOBILE) {
        padding-top: 0rem !important;
      }
    }

    &__thank-you-title {
      font-size: 2.8rem;

      @media only screen and (max-width: $TABLET-MD) {
        font-size: 2.6rem;
      }

      @media only screen and (max-width: $TABLET) {
        font-size: 2.3rem;
        line-height: 1.4;
      }

      @media only screen and (max-width: $TABLET-SM) {
        font-size: 2rem;
        line-height: 1.4;
      }
    }

    &__thank-you-subtitle {
      font-size: 1.15rem !important;
      line-height: 1.5 !important;
      padding: 0.7rem 2rem;

      @media only screen and (max-width: $TABLET-SM) {
        font-size: 1rem;
        line-height: 1.35;
        padding: 0.25rem 0;
      }

      @media only screen and (max-width: $MOBILE) {
        font-size: 1rem;
      }
    }

    &__thank-you-email {
      white-space: nowrap;
    }

    &__thank-you-image {
      height: 30rem;
      object-fit: cover;
      object-position: 0 15%;

      @media only screen and (max-width: $TABLET-SM) {
        height: 20rem;
      object-position: 22% 0%;
      }
    }

    &__funnel-image {
      height: 25rem;
      object-fit: cover;
      object-position: 0% 52%;

      @media only screen and (max-width: $DESKTOP-MD) {
        object-fit: contain;
      }

      @media only screen and (max-width: $TABLET-LG) {
        object-fit: cover;
      }

      @media only screen and (max-width: $TABLET-MD) {
        height: 20rem;
        object-position: 65% 44%;
      }

      @media only screen and (max-width: $MOBILE) {
        height: 12rem;
        object-position: 25% 0%;
      }

      &.first {
        object-position: 50% 0;

        @media only screen and (max-width: $TABLET-MD) {
          height: 20rem;
          object-position: 80% 20%;
        }

        @media only screen and (max-width: $MOBILE) {
          height: 12rem;
          object-position: 80% 0%;
        }
      }
    }
  }

  input[type="radio"] {
    display: none;
  }

  label {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    display: block;
    position: relative;
  }

  label:hover {
    cursor: pointer;
    background-color: #eee;
  }

  input[type="radio"]:checked + label {
    background-color: #ddd;
  }

  .radio-btn {
    white-space: nowrap;
    width: fit-content;
    text-align: center;
    padding: 0.5rem 1rem;
  }
}
