
@import "../application_config.scss";

.faq-container {
  .banner-container .header-image {
    background-image: linear-gradient(
      to top,
      rgba(30, 31, 46, 0.6),
      rgba(0, 0, 0, 0)),
      url("faq/faq-banner.jpg");
    background-position: 80% 0%;

    @media only screen and (max-width: $TABLET) {
      background-position: 70% 0%;
    }
  }

  .header-image {
    div {
      justify-content: flex-end;
      padding: 0 1.5rem !important;
    }

    h1 {
      width: 90%;
      letter-spacing: 1.8px;

      @media only screen and (max-width: $TABLET) {
        width: 100%;
      }
    }

    h5 {
      padding-top: 0.5rem;
      padding-bottom: 5rem;

      @media only screen and (max-width: $TABLET) {
        padding-bottom: 4rem;
      }
    }
  }

  /* ACCORDION */

  .accordion-container{
    height: fit-content;
    padding-bottom: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .accordion-columns {
    width: 100%;
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
  }

  .accordion section {
    display: block;
  }

  .accordion section header {
    cursor: pointer;
    padding: 1rem;
    color: $BRAND-BLUE;
    transition: background 1s ease-in-out;
    line-height: 30px;
    border-bottom: 1px solid lightgray;
  }

  .accordion section header h5 {
    font-size: 16px;
    font-family: $FONT-GOTHAM;
  }

  .accordion section header div {
    font-size: 18px;
    font-family: $FONT-GOTHAM;
  }

  .carrot {
    padding-left: 20px;
  }

  .accordion section header div:after {
    content: "›";
    font-size: 25px;
    display: inline-block;
    transform: rotate(90deg);
  }

  .accordion section .selected div:after {
    content: "›";
    font-size: 25px;
    transform: rotate(270deg);
    padding: 0 6px 0 0;
  }

  .accordion section header {
    display: flex;
    justify-content: space-between;
  }

  .accordion section .accord-content {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px 12px;
    padding-top: 0px;
  }

  .accordion section .accord-content p {
    padding: 25px 0 0px;
    margin-bottom: 0;
  }

  .content-container {
    padding: 2rem 7rem;

    @media only screen and (max-width: $TABLET) {
      padding: 1.5em 1em 3em 1rem;
    }

    @media only screen and (max-width: $MOBILE) {
      padding: 1em 1em 3em 1rem;
    }
  }

  .faq-inquiry-container {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }

  .faq-inquiry {
    width: 60%;
    text-align: center;
    padding-bottom: 1rem;

    p {
      padding-bottom: 1.25rem;
    }

    @media only screen and (max-width: $TABLET-LG) {
      width: 80%;
      padding: 0 3em 2rem;
    }

    @media only screen and (max-width: $TABLET) {
      width: 100%;
      padding: 0 3em 2rem;
    }

    @media only screen and (max-width: $MOBILE) {
      width: 100%;
      padding: 0 3em 2rem;
    }
  }
}
