
@import "../application_config.scss";

.faq-container {

  /* BANNER */

  .header-image {
    background-image: linear-gradient(
      to top,
      rgba(30, 31, 46, 0.6),
      rgba(0, 0, 0, 0)),
      url("faq/faq-banner.jpg");
    background-size: cover;
    background-position: 50% 0%;
    height: 36rem;

    @media only screen and (max-width: $TABLET) {
      background-position: 70% 0%;
      height: 20rem;
    }

    div {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      height: inherit;

      @media only screen and (max-width: $TABLET) {
        justify-content: end;
        width: 100%;
        text-align: center;
      }
    }

    h1 {
      text-shadow: $BLACK 0 0 0.4rem;
      font-size: 4.5rem;
      margin-left: 5vw;
      padding: 0.2em 0;
      line-height: 1.25;
      letter-spacing: 2.3px;
      margin-top: 0.5rem;

      @media only screen and (max-width: $TABLET-LG) {
        font-size: 3rem;
      }

      @media only screen and (max-width: $TABLET) {
        font-size: 2.25rem;
        margin-left: 0;
        margin-bottom: 1.2rem;
      }

      @media only screen and (max-width: $MOBILE) {
        font-size: 1.6rem;
      }
    }

    h5 {
      text-shadow: $BLACK 0 0 0.7rem;
      font-size: 1.3rem;
      margin-left: 5vw;
      font-weight: 400;
      letter-spacing: 1.5px;

      @media only screen and (max-width: $TABLET) {
        margin-left: 0;
        font-size: 1rem;
        letter-spacing: 1.4px;
        line-height: 1.3rem;
      }

      @media only screen and (max-width: $MOBILE) {
        font-size: 1rem;
      }
    }
  }

  .tagline-secondary {
    display: none;
  }

  /* ACCORDION */

  .accordion-container{
    height: fit-content;
    padding-bottom: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .accordion-columns {
    width: 100%;
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
  }

  .accordion section {
    display: block;
  }

  .accordion section header {
    cursor: pointer;
    padding: 22px;
    color: $BRAND-BLUE;
    transition: background 1s ease-in-out;
    line-height: 30px;
    border-bottom: 1px solid lightgray;
  }

  .accordion section header h5 {
    font-size: 16px;
    font-family: $FONT-GOTHAM;
  }

  .accordion section header div {
    font-size: 18px;
    font-family: $FONT-GOTHAM;
  }

  .carrot {
    padding-left: 20px;
  }

  .accordion section header div:after {
    content: "›";
    font-size: 25px;
    display: inline-block;
    transform: rotate(90deg);
  }

  .accordion section .selected div:after {
    content: "›";
    font-size: 25px;
    transform: rotate(270deg);
    padding: 0 6px 0 0;
  }

  .accordion section header {
    display: flex;
    justify-content: space-between;
  }

  .accordion section .accord-content {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px 12px;
    padding-top: 0px;
  }

  .accordion section .accord-content p {
    padding: 25px 0 0px;
    margin-bottom: 0;
  }

  .content-container {
    padding: 2em 3em 3em 3rem;

    @media only screen and (max-width: $TABLET) {
      padding: 1.5em 1em 3em 1rem;
    }

    @media only screen and (max-width: $MOBILE) {
      padding: 1em 1em 3em 1rem;
    }
  }

  .faq-inquiry-container {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }

  .faq-inquiry {
    width: 60%;
    text-align: center;
    padding-bottom: 1rem;

    p {
      padding-bottom: 1.25rem;
    }

    @media only screen and (max-width: $TABLET-LG) {
      width: 80%;
      padding: 0 3em 2rem;
    }

    @media only screen and (max-width: $TABLET) {
      width: 100%;
      padding: 0 3em 2rem;
    }

    @media only screen and (max-width: $MOBILE) {
      width: 100%;
      padding: 0 3em 2rem;
    }
  }
}
