<div class="is-block-desktop has-text-centered">
  <button class="button p-0 is-rounded funnel-step__step-btn down" id="step-next">
    <svg class="has-text-grey-dark mx-auto" style="width: 20px; height: 20px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-config-id="auto-svg-1-1">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
    </svg>
  </button>
</div>
