<section class="section funnel-step is-active" id="funnel-step-one">
  <div class="container mt-5 funnel-step__container">
    <div class="is-vcentered columns is-multiline">
      <div class="column is-12 is-5-desktop mb-5 mr-auto pt-0">
        <h2 class="is-size-3-mobile is-size-3-tablet is-size-2 application-funnel__title">
          Start your application
        </h2>
        <p class="subtitle has-text-grey funnel-step__subtitle">
          Applying for accreditation requires a one-time fee of $75.
          This fee is non-refundable and will help to provide support
          for other rescues and shelters.
        </p>
        <p class="subtitle has-text-grey funnel-step__subtitle">
          Are you filling out this application for a rescue or a shelter?
        </p>
        <div class="buttons">
          <input id="options_rescue" name="org[options]" type="radio" value="rescue" />
          <label class="collection_radio_buttons radio-btn mr-3" for="options_rescue">Rescue</label>

          <input id="options_shelter" name="org[options]" type="radio" value="shelter" />
          <label class="collection_radio_buttons radio-btn" for="options_shelter">Shelter</label>
        </div>
      </div>
      <div class="column is-12 is-6-desktop">
        <%= image_tag "application_funnel/brown-dog-on-beach.jpg", class: "image is-fullwidth funnel-step__image first" %>
      </div>
    </div>
  </div>
  <div class="application-funnel__buttons-container">
    <%= button_tag "Back", type: "button", class: "button is-light is-medium funnel-step__button mr-4", id: "back-btn", disabled: true %>
    <%= button_tag "Next", type: "button", class: "button is-primary is-medium funnel-step__button", id: "next-btn", onclick: "goToStep('funnel-step-one', 'funnel-step-two')" %>
  </div>
</section>
