<section class="section is-hidden" id="funnel-step-two">
  <div class="container mt-5 funnel-step__container">
    <div class="is-vcentered columns is-multiline">
      <div class="column is-12 is-5-desktop mb-5 mr-auto pt-0">
        <h2 class="is-size-3-mobile is-size-3-tablet is-size-2 application-funnel__title">
          Select your specialization
        </h2>
        <p class="subtitle has-text-grey funnel-step__subtitle">
          What animals does your organization work with? <br /><br />
          At the moment, we are only accepting applications from rescues that work with dogs.
        </p>
        <div class="buttons">
          <input id="options_dogs" name="spec[options]" type="radio" value="dogs" onclick="changeAnimal('dogs')" />
          <label id="dogs" class="collection_radio_buttons radio-btn mr-3" for="options_dogs">Dogs</label>

          <%# TODO: finalize cats and dogs_and_cats applications before enabling these buttons %>
          <input id="options_cats" name="spec[options]" type="radio" value="cats" disabled onclick="changeAnimal('cats')" />
          <label id="cats" class="collection_radio_buttons radio-btn mr-3" for="options_cats" style="pointer-events: none; opacity: 0.5;">Cats</label>

          <input id="options_dogs_and_cats" name="spec[options]" type="radio" value="dogs_and_cats" disabled onclick="changeAnimal('dogs_and_cats')" />
          <label id="dogs-and-cats" class="collection_radio_buttons radio-btn" for="options_dogs_and_cats" style="pointer-events: none; opacity: 0.5;">Dogs and Cats</label>
        </div>
      </div>
      <div class="column is-12 is-6-desktop">
        <%= image_tag "application_funnel/choose-animals.jpg", class: "image is-fullwidth funnel-step__funnel-image", id: "selection-img" %>
      </div>
    </div>
  </div>
  <div class="application-funnel__buttons-container">
    <%= button_tag "Back", type: "button", class: "button is-secondary is-medium funnel-step__button mr-4", id: "back-btn", onclick: "goBackFromStepTwo()" %>
    <%= button_tag "Next", type: "button", class: "button is-primary is-medium funnel-step__button", id: "next-btn-step-two", onclick: "getNextStepFromStepTwo()" %>
  </div>
</section>
