<section data-section-id="1" data-share="" data-category="headers" data-component-id="44d0b9e2_01_awz" class="section" id="funnel-step-two">
  <div class="container funnel-step__container">
    <%= render partial: "up-btn" %>
    <div class="is-vcentered columns is-multiline">
      <div class="column is-12 is-5-desktop mb-5 mr-auto">
        <h2 class="is-size-3-mobile is-size-3-tablet has-text-weight-bold is-size-2 application-funnel__title" data-config-id="header">
          Select your Specialization
        </h2>
        <p class="subtitle has-text-grey funnel-step__subtitle" data-config-id="desc">
          What animals does your organization work with?
        </p>
        <div class="buttons">
          <input id="options_dogs" name="spec[options]" type="radio" value="true" />
          <label class="collection_radio_buttons radio-btn mr-3" for="options_dogs">Dogs</label>

          <input id="options_cats" name="spec[options]" type="radio" value="true" />
          <label class="collection_radio_buttons radio-btn mr-3" for="options_cats">Cats</label>

          <input id="options_dogs_and_cats" name="spec[options]" type="radio" value="true" />
          <label class="collection_radio_buttons radio-btn" for="options_dogs_and_cats">Dogs and Cats</label>
        </div>
      </div>
      <div class="column is-12 is-6-desktop pt-6">
        <%= image_tag "application_funnel/brown-dog-on-beach.jpg", class: "image is-fullwidth" %>
      </div>
    </div>
    <%= render partial: "down-btn" %>
  </div>
</section>