<div class="is-block-desktop has-text-centered">
  <button class="button p-0 is-rounded funnel-step__step-btn up" id="step-back">
    <svg class="has-text-grey-dark mx-auto" xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px;" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"></path>
    </svg>
  </button>
</div>
