

<div class="application-funnel">
  <%= form_with do |f| %>
    <div class="application-funnel__overflow-bottom">
      <%= render partial: "step_one", locals: { f: f } %>
      <%= render partial: "step_two", locals: { f: f } %>
      <%= render partial: "step_three", locals: { f: f } %>
    </div>
  <% end %>
  <div class="application-funnel__overflow"></div>
</div>

<script type="text/javascript">
  const getNextStepFromStepOne = () => {
    changeAnimal();
    clearAnimalSelection();
    var isSelected = validateRadioButtons("next-btn-step-one", "org[options]")

    if (isSelected === true) {
      const org = document.querySelector('input[name="org[options]"]:checked').value;

      if (org === "rescue") {
        goToStepTwo();
      }
      if (org === "shelter") {
        goToStepThree();
      }
    }
  }

  const getNextStepFromStepTwo = () => {
    var isSelected = validateRadioButtons("next-btn-step-two", "spec[options]")

    if (isSelected === true) {
      const currentStep = document.getElementById('funnel-step-two');
      const nextStep = document.getElementById("funnel-step-three");

      currentStep.classList.add("is-hidden");
      nextStep.classList.remove("is-hidden");
      nextStep.classList.add("is-active");
    }
  }

  const goToStepTwo = () => {
    clearAnimalSelection();
    const currentStep = document.getElementById('funnel-step-one');
    const nextStep = document.getElementById("funnel-step-two");

    currentStep.classList.add("is-hidden");
    nextStep.classList.remove("is-hidden");
    nextStep.classList.add("is-active");
  }

  const goToStepThree = () => {
    const currentStep = document.getElementById('funnel-step-one');
    const nextStep = document.getElementById("funnel-step-three");

    currentStep.classList.add("is-hidden");
    nextStep.classList.remove("is-hidden");
    nextStep.classList.add("is-active");

    // shelters are required to work with both dogs and cats
    document.getElementById("options_dogs_and_cats").checked = true;
    changeAnimal("dogs_and_cats");
  }

  const goBackFromStepTwo = () => {
    clearAnimalSelection();
    const currentStep = document.getElementById('funnel-step-two');
    const previousStep = document.getElementById("funnel-step-one");

    currentStep.classList.add("is-hidden");
    previousStep.classList.remove("is-hidden");
    previousStep.classList.add("is-active");
  }

  const goBackFromStepThree = (org) => {
    const currentStep = document.getElementById('funnel-step-three');

    if (org === "shelter") {
      const previousStep = document.getElementById("funnel-step-one");
      currentStep.classList.add("is-hidden");
      previousStep.classList.remove("is-hidden");
      previousStep.classList.add("is-active");
    }
    if (org === "rescue") {
      const previousStep = document.getElementById("funnel-step-two");
      currentStep.classList.add("is-hidden");
      previousStep.classList.remove("is-hidden");
      previousStep.classList.add("is-active");
    }
  }

  const clearAnimalSelection = () => {
    var options = document.getElementsByName("spec[options]");
    for (i = 0; i < options.length; i++) {
      options[i].checked = false;
    }
    const img = document.getElementById("selection-img");
    img.src = "/assets/application_funnel/choose-animals.jpg";
  }

  // when next button is clicked, validate that at least one radio button is selected
  const validateRadioButtons = (btnId, optionsName) => {
    var options = document.getElementsByName(optionsName);
    var selected = false;
    for (i = 0; i < options.length; i++) {
      if (options[i].checked === true) {
        selected = true;
      }
    }
    if (selected === true) {
      return true
    } else {
      alert("Please select an option")
      return false
    }
  }

  const changeAnimal = (selection) => {
    const img = document.getElementById("selection-img");

    $("selection-img").fadeOut("fast", function() {
      $(this).removeClass("funnel-step__default-image");
      $(this).addClass("funnel-step__image");
    });

    if (selection) {
      if (selection === "dogs") {
        img.src = "/assets/application_funnel/choose-dogs.jpg";
      } else if (selection === "cats") {
        img.src = "/assets/application_funnel/choose-cats.jpg";
      } else if (selection === "dogs_and_cats") {
        img.src = "/assets/application_funnel/choose-dogs-and-cats.jpg";
      } else {
        img.src = "/assets/application_funnel/choose-animals.jpg";
      }
    };
  }
</script>