

<div class="application-funnel">
  <%= form_with do |f| %>
    <div class="application-funnel__overflow-bottom">
      <%= render partial: "step_one", locals: { f: f } %>
      <%= render partial: "step_two", locals: { f: f } %>
      <%= render partial: "step_three", locals: { f: f } %>
    </div>
  <% end %>
  <div class="application-funnel__overflow"></div>
</div>

<script type="text/javascript">
  const goToStep = (fromId, toId) => {
    const currentStep = document.getElementById(fromId);
    const nextStep = document.getElementById(toId);

    currentStep.classList.add("is-hidden");
    nextStep.classList.remove("is-hidden");
    nextStep.classList.add("is-active");
  }
</script>