<section class="section mt-1 mb-0 application-funnel">
  <div class="container mb-6">
    <div class="columns is-multiline is-centered">
      <div class="column is-9 has-text-centered">
        <h2 class="mt-2 mb-4 has-text-weight-bold funnel-step__thank-you-title">
          Thank you for your interest in ERA Accreditation!
        </h2>
        <%= render "shared/logo-separator" %>
        <p class="subtitle mb-5 has-text-grey funnel-step__thank-you-subtitle">
          Please check your email for a link to the application form. If you do not receive an email within
          24 hours, contact us for support at <a href="mailto:ethicalrescueassociation@gmail.com" class="funnel-step__thank-you-email">ethicalrescueassociation@gmail.com</a>
        </p>
        <%= image_tag "application_funnel/woman-dog-beach.jpg", class: "image is-fullwidth funnel-step__thank-you-image" %>
      </div>
    </div>
  </div>
</section>
