
.join-us-banner-container {
  position: relative;
  text-align: left;
  height: 500px;
  width: 1344px;
}

.join-us-banner-img {
  height: 500px;
  width: 1344px;
  position: relative;
}

.tagline-primary {
  color: white;
  position: absolute;
  bottom: 149px;
  margin: 0 auto;
  left: 70px;
  font-size: 60px;
  line-height: 70px;
}

.tagline-secondary {
  position: absolute;
  bottom: 307px;
  color: white;
  margin: 0 auto;
  font-size: 17px;
  left: 70px;
}

.call-to-action {
  background-color: #3e8ed0;
  border-color: transparent;
  color: #fff;
  left: 70px;
  bottom: 55px;
  font-size: 18px;
  width: 170px;
  height: 50px;
  position: absolute;
}
