<div class="container" >
  <div id="angela-modal-prompt" class="modal vertical-navbar-hidden">
    <div class="modal-background"></div>
    <div class="modal-content board-of-directors-modal">
      <%= image_tag "what_is_era/angela.jpg" %>
      <div class="has-text-centered pt-4">
        <div class="mb-0 is-size-4 has-text-weight-bold">
          Angela Curry
        </div>
        <div class="is-6 has-text-centered has-text-grey is-font-18 mb-3">
          Vice President
        </div>
        <div class="is-6 has-text-left has-text-grey is-font-18 double-spaced px-3">
          <p>
            <%= insert_tab %>
            Angela’s passion for working with animals and rescue began as a child.
            this led her to joining Future Farmers of America in 7th grade where she gained hands on experience working
            with stock dogs. Her interest in animal behavior and welfare only grew from there. While attaining a degree
            in Diagnostic Medical Sonography, the passion never ceased, and in 2011 she decided to move from West Virginia
            to North Carolina to establish a new career path in professional dog training and boarding. After mentoring
            under established dog trainers and managing a high volume boarding and daycare facility, her thirst for
            knowledge had only grown.
          </p>
          <p class="mt-4">
            <%= insert_tab %>
            After witnessing the unethical practices within rescue and shelter organizations, Angela chose to utilize her
            social media platform to connect with others who shared her passion and values. This led to the creation of ERA,
            where she teamed up with other like-minded individuals who shared her vision of reforming animal rescue.
          </p>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>

<%= javascript_include_tag "modals/modal_prompt.js" %>
