<% tab = '&nbsp &nbsp &nbsp'.html_safe %>

<div class="container" >
  <div id="angela-modal-prompt" class="modal vertical-navbar-hidden">
    <div class="modal-background"></div>
    <div class="modal-content board-of-directors-modal">
      <%= image_tag "what_is_era/angela.jpg" %>
      <div class="has-text-centered pt-4">
        <div class="title is-size-4">
          Angela Curry
        </div>
        <div class="subtitle is-size-6 mb-0">
          Vice President
        </div>
        <div class="has-text-left p-3">
          <p>
            <%= tab %>Angela’s passion for working with animals and rescue began as a child;
            this led her to joining FFA in 7th grade where she gained hands on experience working
            with stock dogs. Her interest in animal behavior and welfare only grew from there. While
            attaining a degree in Diagnostic Medical Sonography, the passion never ceased, and in 2011
            she decided to move from West Virginia to North Carolina to establish a new career path
            in professional dog training and boarding. After mentoring under established dog trainers
            and managing a high volume boarding and daycare facility, her thirst for knowledge had
            only grown.
          </p>
          <p class="mt-4">
            <%= tab %>After connecting with other dog community creators, she made a
            video discussing how government offices could never do the job the right way to where it
            would actually make a difference. This video would lead to the dawn of a new ERA in which
            ethical rescues hold each other accountable and educate the public about Animal Welfare,
            with the goals of fighting back against Animal Rights Activism and putting the animals'
            humane care over human desires.
          </p>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>

<%= javascript_include_tag "modals/modal_prompt.js" %>
