<div class="container" >
  <div id="brittnea-modal-prompt" class="modal vertical-navbar-hidden">
    <div class="modal-background"></div>
    <div class="modal-content board-of-directors-modal">
      <%= image_tag "what_is_era/brittnea.jpg", class: "obj-pos-right" %>
      <div class="has-text-centered pt-4">
        <div class="mb-0 is-size-4 has-text-weight-bold">
          Brittnea Atwood
        </div>
        <div class="is-6 has-text-centered has-text-grey is-font-18 mb-3">
          Conduct Enforcement
        </div>
        <div class="is-6 has-text-left has-text-grey is-font-18 double-spaced px-3">
          <p>
            Brittnea has always had a passion for animals and
            animal welfare. Her journey into animal welfare started back in 2006 when
            she volunteered at a veterinary clinic. From there, she went on to have many
            various jobs in the animal industry where she ended up as an Animal Control
            Officer.
          </p>
          <p class="mt-4">
            After seeing multiple unethical practices amongst rescues
            and backyard breeders, Brittnea decided to turn to social media to find like
            minded people interested in educating the hard subjects. In doing so, she
            stumbled upon a wonderful group of ladies who all prioritized the idea that
            rescues can and should be ethical among other things. The creation of ERA is
            a light, showing that the future of rescue can be bright.
          </p>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>

<%= javascript_include_tag "modals/modal_prompt.js" %>
