<div class="container" id="app">
  <div id="janelle-modal-prompt" class="modal vertical-navbar-hidden">
    <div class="modal-background"></div>
    <div class="modal-content board-of-directors-modal">
      <%= image_tag "what_is_era/janelle.jpg" %>
      <div class="has-text-centered pt-4">
        <div class="mb-0 is-size-4 has-text-weight-bold">
          Janelle Newton
        </div>
        <div class="is-6 has-text-centered has-text-grey is-font-18 mb-3">
          President
        </div>
        <div class="is-6 has-text-left has-text-grey is-font-18 double-spaced px-3">
          <p>
            <%= insert_tab %>
            Janelle founded Redstone Husky Rescue in 2021 and has been a veterinary
            technician since 2006. After seeing the severe lack of ethics in animal welfare in the rescue community,
            she opened Redstone in an attempt to do as much as she could with the resources she could build. Through
            TikTok, she met the other board members of ERA and saw that she was not alone in the desire to hold rescues
            accountable to a code of ethics while empowering the public through education.
          </p>
          <p class="mt-4">
            <%= insert_tab %>
            After connecting with these other dog community creators, she created a video discussing
            how government offices could never do the job the right way to where it would actually make a difference.
            This video would lead to the dawn of a new ERA in which ethical rescues hold each other accountable and educate
            the public about Animal Welfare.
          </p>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>

<%= javascript_include_tag "modals/modal_prompt.js" %>
