<div class="container" >
  <div id="mikayla-modal-prompt" class="modal vertical-navbar-hidden">
    <div class="modal-background"></div>
    <div class="modal-content board-of-directors-modal">
      <%= image_tag "what_is_era/mikayla.jpg", class: "obj-pos-right" %>
      <div class="has-text-centered pt-4">
        <div class="mb-0 is-size-4 has-text-weight-bold">
          Mikayla Johnson
        </div>
        <div class="is-6 has-text-centered has-text-grey is-font-18 mb-3">
          Secretary
        </div>
        <div class="is-6 has-text-left has-text-grey is-font-18 double-spaced px-3">
          <p>
          <%= insert_tab %>
            Mikayla is a full-time software developer in Mebane, North Carolina. After
            adopting her pit mix Phantom in October of 2021, Mikayla became heavily
            involved in the divisive world of Pit Bull advocacy. Disillusioned by
            extremists on both sides, she founded a podcast and Reddit page in an
            attempt to bridge the divide and raise awareness about the American Pit
            Bull Terrier and its kin.
          </p>
          <p class="mt-4">
            <%= insert_tab %>
            In her search for others who shared a similar philosophy,
            Mikayla stumbled upon a group of TikTok creators who were interested in building
            a database of ethical rescues. She volunteered to assist in this project,
            and within the span of a few weeks, the small team had blossomed into a
            committee of like-minded individuals who were passionate and enthusiastic
            about promoting animal welfare.
          </p>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>

<%= javascript_include_tag "modals/modal_prompt.js" %>
