<div class="join-us-banner-container font-roboto">
  <%= image_tag "join_us/join-us-banner.jpg", class: "join-us-banner-img" %>
  <h3 class="tagline-secondary font-gotham">CHANGE IS COMING</h3>
  <h3 class="tagline-primary font-gotham-bold">
    <div>Be part of a new</div>
    <div>ERA of animal rescue</div>
  </h3>
  <button class="button is-info call-to-action">Apply Today</button>
<div>
