Dear <%= @email %>,
<p>
  Congratulations on taking the first step toward completing your Ethical Rescue Alliance accreditation application!
</p>
<p>
  To fill out your application, please visit the following link: <%= link_to "ERA Accreditation Application", @form_url %>.
</p>
<p>
  It is important that your answers be as detailed as possible so that we can gain a clear understanding of
  your organization's values, processes, and protocols. Please note that it may take several weeks for your application
  to be reviewed depending on the volume of applications that we receive.
</p>
<p>
  We wish you the best of luck, and thank you for being part of a new ERA of rescue!
</p>
<p>
  <div>Best Wishes,</div>
  <div>The ERA Team</div>
</p>