<div class="banner-container font-roboto">
  <%= image_tag "fencing/fencing-banner.jpg", class: "banner-img", title: "Image by Freepik" %>

  <h3 class="tagline-primary font-gotham-bold">
    <div>Fencing</div>
  </h3>
<div>
