<div class="banner-container font-roboto">
  <%= image_tag "leashes_and_harnasses/leashes-and-harnasses-banner.jpg", class: "banner-img", title: "Image by Freepik" %>

  <h3 class="tagline-primary font-gotham-bold">
    <div>Leashes</div>
    <div>and Harnasses</div>
  </h3>
<div>
