<div class="banner-container font-roboto">
  <%= image_tag "microchipping/microchipping-banner.jpg", class: "banner-img", title: "Image by Freepik" %>

  <h3 class="tagline-primary font-gotham-bold">
    <div>Microchipping</div>
  </h3>
<div>
