<div class="banner-container font-roboto">
  <%= image_tag "microchipping/microchipping-banner.jpg", class: "banner-img", title: "Image by Freepik" %>

  <div class="banner-content-container">
    <h3 class="tagline-secondary font-gotham"></h3>
    <h3 class="tagline-primary font-gotham-bold">
      Microchipping
    </h3>
  </div>
<div>
