<div class="banner-container font-roboto">
  <%= image_tag "spay_and_neuter/spay-and-neuter-banner.jpg", class: "banner-img", title: "Image by Freepik" %>

  <h3 class="tagline-primary font-gotham-bold">
    <div>Spay and Neuter</div>
  </h3>
<div>
