<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New inquiry from <%= @name %>
    </p>
    <p>
      Email: <%= @email %>
    </p>
    <p>
      ---------
    </p>
    <%= @message %>
    <p>
      ---------
    </p>
    <p>
      <%=
        @headers.each do |header|
          "#{header[0]}: #{header[1]}\n"
        end
      %>
    </p>
  </body>
</html>