
@import "../application_config.scss";

.contact-container {
  .banner-container .header-image {
    background-image: linear-gradient(
      to top,
      rgba(30, 31, 46, 0.5),
      rgba(0, 0, 0, 0)),
      url("contact_us/contact-us-banner.jpg");
    background-position: 50% 0%;

    @media only screen and (max-width: $MOBILE) {
      background-position: 57% 0%;
    }
  }

  .header-image {
    div {
      justify-content: flex-end;
      padding: 0 1.5rem !important;
    }

    h1 {
      width: 100%;
    }

    h5 {
      padding-top: 0.5rem;
      padding-bottom: 5rem;

      @media only screen and (max-width: $TABLET) {
        padding-bottom: 4rem;
      }
    }
  }

  .content-container {
    padding: 1em 3em 3em 3rem;

    @media only screen and (max-width: $TABLET) {
      padding: 1.5em 1em 3em 1rem;
    }

    @media only screen and (max-width: $MOBILE) {
      padding: 1em 1em 3em 1rem;
    }
  }
}
