<div class="ethics-category">
  <p>
    Pet retention should be a priority whenever possible within an organization’s abilities.
    Offering some kind of pet retention program (wellness care, emergent care support,
    microchipping, etc.) will strengthen our bonds with the communities we serve. We must abide
    by local laws and continue to educate the public on the changes and intricacies of those laws.
  </p>
  <ol>
    <li>
      Rescues should educate the public on animal welfare and all that goes into it, both the
      good and the bad.
    </li>
    <li>
      Rescues should educate on their local laws and any changes made to them.
    </li>
    <li>
      When possible, rescues should provide support to the community for basic care
      such as spay/neuter, microchipping, and other wellness or financial needs in order to
      assist in pet retention in the area.
    </li>
  </ol>
</div>
