<div class="ethics-category">
  <p>
    Without our donor base, we are nothing and we cannot exist. Accountability to those
    that help to keep our proverbial doors open should not be taken lightly. Offering thorough
    explanation of needs with evidential documentation such as invoices and estimates should
    be done without prompting or request. The care of each individual should be accounted for
    prior to intake.
  </p>
  <ol>
    <li>
      An explanation of medical care needed should be provided when fundraising, including
      proof of financial need in the form of invoices or estimates.
    </li>
    <li>
      If at any time a donor requests a detailed history of use of funds, it should be made
      available to them within a timely manner.
    </li>
    <li>
      Animals should not be brought into rescue care if there is a large outstanding medical debt.
    </li>
  </ol>
</div>