<div class="logo-separator mb-4">
  <div class="line-container">
    <div class="line"></div>
  </div>
  <div class="logo-simplified">
    <%= image_tag "logos/logo-simplified.jpg" %>
  </div>
  <div class="line-container">
    <div class="line"></div>
  </div>
</div>