<div class="font-gotham">
  <nav class="navbar py-2" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <span class="main-title">ETHICAL RESCUE ASSOCIATION</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item">
            Rescue<i class="fa-solid fa-heart pl-2"></i>
          </a>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            About
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Mission Statement
            </a>
            <a class="navbar-item">
              Code of Ethics
            </a>
            <a class="navbar-item">
              Who We Are
            </a>
          </div>
        </div>
        <div class="navbar-item">
          <a class="navbar-item">
            Support
          </a>
        </div>
        <div class="navbar-item">
          <% user_signed_in? ? 'Log out' : 'Sign up' %>
          <% if user_signed_in? %>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'logout-btn main-title font-gotham' %>
          <% else %>
            <%# <%= link_to 'Sign up', new_user_registration_path %>
          <% end %>
        </div>
        <div class="navbar-item pr-5">
          <% if user_signed_in? %>
            <%= link_to current_user.email, edit_user_registration_path %>
          <% else %>
            <%= link_to 'Log in', new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>