<div class="font-gotham">
  <nav class="navbar py-2" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.ethicalrescueassociation.com">
        <span class="main-title">ETHICAL RESCUE ASSOCIATION</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end navbar-spacing-override pr-4">
        <div class="navbar-item">
          <a class="navbar-item">
            Rescue<i class="fa-solid fa-heart pl-2"></i>
          </a>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Learn
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Code of Ethics
            </a>
            <a class="navbar-item">
              About
            </a>
          </div>
        </div>
        <div class="navbar-item">
          <a class="navbar-item">
            Support
          </a>
        </div>
        <div class="navbar-item">
          <%= link_to "Sign up", new_user_registration_path %>
        </div>
        <div class="navbar-item pr-4">
          <%= log_in_text %>
          <%= link_to "Log in", new_user_session_path %>
        </div>
      </div>
    </div>
  </nav>
</div>