
@import "../application_config.scss";

.main-container {
  .hero-content {
    margin-left:3rem;
    @media only screen and (max-width: $TABLET-LG) {
      margin-left: 0;
    }
    @media only screen and (max-width: $TABLET) {
      margin-left: 0;
      text-align: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media only screen and (max-width: $MOBILE) {
      margin-left: 0;
      text-align: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .banner-container {
    position: relative;
    text-align: left;
    height: 430px;
    width: 100%;
  }

  .banner-img {
    background-image: url("main/main-banner.jpg");
    height: 430px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: $TABLET-LG) {
      background-image: url("main/main-banner-tablet-lg.jpg");
    }
    @media only screen and (max-width: $TABLET) {
      background-image: url("main/main-banner-tablet-mobile.jpg");
    }
    @media only screen and (max-width: $MOBILE) {
      background-image: url("main/main-banner-tablet-mobile.jpg");
    }
  }

  .banner-content {
    padding: 0 5rem;
    width: 45rem;

    @media only screen and (max-width: $TABLET-LG) {
      padding: 0 3rem;
      width: 34rem;
      font-size-adjust: 0.47;
    }
    @media only screen and (max-width: $TABLET) {
      margin: 0 auto;
      padding: 0 1rem;
      font-size-adjust: 0.43;
      line-height: 1rem;
    }
    @media only screen and (max-width: $MOBILE) {
      margin: 0 auto;
      padding: 0;
      font-size-adjust: 0.43;
      line-height: 1rem;
    }
  }
}

.text-shadow {
  text-shadow: $DARK-GRAY 0 0 7px;
}

/* PAYMENT PROMPT MODAL */

.modal-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vertical-scrollbar-hidden {
  overflow-x: hidden;
}