
@import "../application_config.scss";

.main-container {
  .main-hero-content {
    margin-left:3em;
    @media only screen and (max-width: $TABLET-LG) {
      margin-left: 0;
    }
    @media only screen and (max-width: $TABLET) {
      margin-left: 0;
      text-align: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media only screen and (max-width: $MOBILE) {
      margin-left: 0;
      text-align: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .main-banner-container {
    position: relative;
    text-align: left;
    height: 430px;
    width: 100%;
  }

  .main-banner-img {
    background-image: url("main/main-banner.jpg");
    height: 430px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: $TABLET-LG) {
      background-image: url("main/main-banner-tablet-lg.jpg");
    }
    @media only screen and (max-width: $TABLET) {
      background-image: url("main/main-banner-tablet-mobile.jpg");
    }
    @media only screen and (max-width: $MOBILE) {
      background-image: url("main/main-banner-tablet-mobile.jpg");
    }
  }

  .main-banner-content {
    padding: 0 5em;
    width: 45em;

    @media only screen and (max-width: $TABLET-LG) {
      padding: 0 3em;
      width: 34em;
      font-size-adjust: 0.47;
    }
    @media only screen and (max-width: $TABLET) {
      margin: 0 auto;
      padding: 0 1em;
      font-size-adjust: 0.43;
      line-height: 1em;
    }
    @media only screen and (max-width: $MOBILE) {
      margin: 0 auto;
      padding: 0;
      font-size-adjust: 0.43;
      line-height: 1em;
    }
  }
}

.font-size-14 {
  font-size: 14px;
}

.text-shadow {
  text-shadow: $DARKER-GRAY 0 0 12px;
}

/* PAYMENT PROMPT MODAL */

.modal-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vertical-scrollbar-hidden {
  overflow-x: hidden;
}