
@import "../application_config.scss";

.banner-container {
  position: relative;
  text-align: left;
  height: 500px;
  width: 100%;
}

.banner-img {
  height: 500px;
  width: 100%;
  position: absolute;
  object-fit: cover;

  @media only screen and (max-width: $TABLET) {
    object-position: 60% 10%;
  }
  @media only screen and (max-width: $MOBILE) {
    object-position: 70% 10%;
  }
}

.banner-content-container {
  display: flex;
  position: relative;
  height: 100%;
  margin: 0 10vw;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 60px;
  align-items: flex-start;

  @media only screen and (max-width: $TABLET) {
    margin: 0 40px;
  }
  @media only screen and (max-width: $MOBILE) {
    margin: 0 10px;
  }
}

.tagline-primary {
  color: white;
  font-size: 62px;
  line-height: 66px;
  padding: 10px 0 40px;
  width: 750px;
  max-width: 750px;

  @media only screen and (max-width: $FULLSCREEN) {
    width: 52vw;
  }
  @media only screen and (max-width: $TABLET) {
    font-size: 45px;
    line-height: 52px;
    width: 57vw;
  }
  @media only screen and (max-width: $TABLET-SM) {
    font-size: 40px;
    line-height: 45px;
    width: 62vw;
  }
  @media only screen and (max-width: $MOBILE) {
    font-size: 40px;
    line-height: 45px;
    width: 100%;
    text-align: center;
  }
}

.tagline-secondary {
  color: white;
  font-size: 20px;
  height: 40px;

  @media only screen and (max-width: $MOBILE) {
    text-align: center;
    width: 100%;
  }
}

.call-to-action {
  background-color: #3e8ed0;
  border-color: transparent;
  color: #fff;
  font-size: 18px;
  width: 170px;
  height: 50px;

  @media only screen and (max-width: $MOBILE) {
    text-align: center;
    width: 220px;
    height: 65px;
    align-self: center;
    font-size: 22px;
    border-radius: 6px;
  }
}

/* PAYMENT PROMPT MODAL */

.modal-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
