<div class="ethics-category">
  <p>
    Equal opportunities for adoption and placement of animals in rescue care should be
    attainable, fair, and reasonable. Permanent foster situations have their time and place
    for hospice cases. Honesty must become a forefront consideration when placing animals in
    homes, as we should be focused on setting the animal and the family up for success,
    and not a repeated reentry into the system and a drain on rescue resources.
  </p>
  <ol>
    <li>
      Biosecurity should be a primary focus for any and all animals within rescue care.
    </li>
    <li>
      Permanent fosters should be limited to hospice cases.
    </li>
    <li>
      Equal opportunity should be provided to adoptive homes.
    </li>
    <li>
      Full disclosure of any and all behavioral history, no matter how minor it may seem,
      during the adoption consultation.
    </li>
    <li>
      When intaking an animal, placement should be discussed and there should be a long-term
      solution within reach in a reasonable amount of time.
    </li>
    <li>
      Foster homes should have some level of formal education prior to fostering.
    </li>
  </ol>
</div>