<ol>
  <li>
    Rescues should educate the public on animal welfare and all that goes into it,
    both the good and the bad.
  </li>
  <li>
    Rescues should educate on their local laws and any changes made to them.
    <ol class="lower-alpha">
      <li>
        If there is a new bill coming up regarding animal welfare laws, rescues may
        consider educating the public on their stance on the bill, but it should be
        stressed that this is a vote and everyone is entitled to their own opinion
        on the bill as a whole.
      </li>
    </ol>
  </li>
  <li>
    When possible, rescues should provide support to the community for basic care
    needs such as spay/neuter, microchipping, and other wellness care needs.
  </li>
  <li>
    If possible, rescues should also aim to assist owners when in times of financial
    struggle to keep a pet with a medical need rather than force surrender of that
    animal.
    <ol class="lower-alpha">
      <li>
        Surrender may be accepted if the owner freely elects to surrender the animal
        without external suggestion or coercion.
      </li>
    </ol>
  </li>
</ol>