<% tab = '&nbsp &nbsp &nbsp'.html_safe %>

<div class="container" >
  <div id="diane-modal-prompt" class="modal vertical-navbar-hidden">
    <div class="modal-background"></div>
    <div class="modal-content board-of-directors-modal">
      <%= image_tag "about_pages/what_is_era/diane.jpg" %>
      <div class="has-text-centered pt-4">
        <div class="title is-size-4">
          Diane Orenchuk
        </div>
        <div class="subtitle is-size-6 mb-0">
          Communications
        </div>
        <div class="has-text-left p-3">
          <p>
            <%= tab %>After receiving her Bachelor's Degree in Business Management, Diane changed
            careers to align with her passion for animals. She went on to work in shelter management for the American
            Society for the Prevention of Cruelty to Animals (ASPCA), and later earned the certificate of CPDT-KA
            from the Certification Council for Professional Dog Trainers in 2017. Over her 10 years of experience,
            Diane has worked with thousands of dogs in a variety of capacities including training, behavior evaluation,
            behavior modification, owning and operating daycare and boarding, sheltering, and foster/rescue.
          </p>
          <p class="mt-4">
            <%= tab %>Diane has experience with fearful/nervous dogs, high arousal behaviors, high drive/energy
            breeds, resource guarding, aggression, as well as developing behavior modification plans and advanced
            canine skills. She believes in setting dogs up for success, creating a fulfilled and enriched life for
            each unique dog, and earning dogs' trust.
          </p>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>

<%= javascript_include_tag "modals/modal_prompt.js" %>
