<ol>
  <li>
    Biosecurity should be a primary focus for any and all animals within rescue care.
    <ol class="lower-alpha">
      <li>
        Foster homes should be made well aware of any and all risks to their own pets
        in the household when placing an animal in care with them.
      </li>
      <li>
        Litters or puppies of unknown medical history should never be mixed.
        <ol class="lower-roman">
          <li>
            Likewise, litters of puppies that have recently recovered from illness
            should be quarantined before being exposed to other puppies that they
            have not already been exposed to.
          </li>
        </ol>
      </li>
      <li>
        An animal that is in an exposure risk incubation period should never be
        adopted out.
        <ol class="lower-roman">
          <li>
            These animals should be kept under rescue ownership until the incubation
            period has passed and no signs of illness are present.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    Permanent fosters should be limited to hospice cases not expected to survive
    past 12 months.
    <ol class="lower-alpha">
      <li>
        If an animal has a well enough prognosis to survive past 12 months, it
        should be placed up for adoption to a hospice adopter.
      </li>
      <li>
        No foster pet should be excluded from adoption due to behavioral needs.
        <ol class="lower-roman">
          <li>
            If the animal is aggressive, they should be transparently listed as
            such if not behaviorally euthanized. It should be extremely clear
            to the public the behavior traits and nature of the aggression and
            what the expected needs would be. These needs should include training.
          </li>
          <li>
            If the animal is another type of behavior case, this should be
            detailed in their adoption profile so that prospective adopters
            can realistically evaluate if they are the best fit for that animal
            prior to applying. Fearful cases or otherwise under-socialized cases
            can have successful placement with the correct adopter.
          </li>
        </ol>
      </li>
      <li>
        Only dogs with a very limited life expectancy should be deemed a “permanent
        foster”.
        <ol class="lower-roman">
          <li>
            If someone approaches wishing to adopt a severe hospice case knowing
            that the ultimate outcome will be humane euthanasia, that should be a
            conversation had with the prospective adopter as it is best for not
            only that hospice animal but also the other animals already in or
            waiting to enter rescue care.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    Equal opportunity should be provided to adoptive homes.
    <ol class="lower-alpha">
      <li>
        Denials of adoptions should be few and limited to risks to the safety
        and welfare of the animal that would be placed there.
        <ol class="lower-roman">
          <li>
            Examples: Strictly outdoor dogs in a breed prone to escaping or areas
            of extreme weather, refusal to provide veterinary care when necessary,
            known neglect or cruelty history, concerns of the safety of the dog in
            the home due to other animals or humans in the home.
          </li>
        </ol>
      </li>
      <li>
        There should not be a blanket reason for denial of an adoption placement,
        not limited to but including:
        <ol class="lower-roman">
          <li>
            The ownership of a home vs rentals
          </li>
          <li>
            The presence of a fence
          </li>
          <li>
            Ethnicity
          </li>
          <li>
            Disability status
          </li>
          <li>
            Economic status (mobile homes, low income, or nomadic lifestyles
            vs financial wealth).
          </li>
          <li>
            Presence of or lack of children
          </li>
          <li>
            Presence of or lack of other companion animals, livestock, or exotic pets
          </li>
          <li>
            No exclusion of working or sport homes
          </li>
          <li>
            Unaltered animals for medical reasons or of different species (such as
            horses and pocket pets)
          </li>
          <li>
            If the potential adopter is an <i>ethical breeder</i> – verification or
            breeding practices should be easy if the breeder is an ethical one.
          </li>
          <li>
            First time pet owner/breed owner
          </li>
          <li>
            Work schedule or type of work
          </li>
          <li>
            Age, within reason, for the type of animal or breed
          </li>
        </ol>
      </li>
      <li>
        Full disclosure of any and all behavioral history, no matter how minor
        it may seem, during the adoption consultation.
        <ol class="lower-roman">
          <li>
            All signs of aggression should be disclosed and guidance on management
            of or training needs should be discussed at length.
          </li>
          <li>
            All behavior quirks, management of, and training suggestions should be
            discussed at length. These quirks can include digging, house soiling,
            noise aversions, escape artistry, vocalizations, or a variety of other
            traits.
          </li>
        </ol>
      </li>
      <li>
        Full disclosure of any and all medical needs and medical history should
        be discussed during the adoption consultation.
        <ol class="lower-roman">
          <li>
            Any foreseen medical needs should be readily available information on
            the pet’s adoption profile so that an adopter can decide if that is a
            good fit prior to applying for adoption.
          </li>
          <li>
            Any major medical history should be disclosed, as it is relevant
            information for the future care of that animal.
          </li>
          <li>
            Any and all medical records should be copied and given to the adopter
            at time of adoption.
          </li>
          <li>
            All medical needs and expectations for the future of any specific
            illnesses or conditions should be discussed.
          </li>
          <li>
            All wellness care and when that wellness care should be updated
            should be readily available information for the adopter.
          </li>
        </ol>
      </li>
      <li>
        If requested, potential adopters should be able to review medical records
        prior to adoption.
      </li>
      <li>
        If requested, potential adopters should be able to have a conversation with
        the foster home prior to or after adoption.
      </li>
      <li>
        If requested, the potential adopters should be able to have a conversation
        with any trainers the animal has had prior to or after adoption.
      </li>
    </ol>
  </li>
  <li>
    Animal identifiers should be as accurate as possible with no hiding of likely breeds.
    <ol class="lower-alpha">
      <li>
        Example: Bully Breed Mutts should be labeled as such, not a “lab mix.”
      </li>
      <li>
        Known breeds should always be disclosed for accurate placement.
      </li>
      <li>
        Embellishing breeds of an animal in rescue care simply to market for adoption
        should never be done. (Example: Marking a Tabby Domestic Shorthair as a Bengal
        Mix or a gray and white cat as a Russian Blue)
      </li>
    </ol>
  </li>
  <li>
    When intaking an animal, placement should be discussed and there should be a
    long-term solution within reach in a reasonable amount of time.
    <ol class="lower-alpha">
      <li>
        Animals pulled urgently from euthanasia lists from open-intake shelters
        should not be placed in boarding unless this is a temporary last resort.
        The animal should ideally not be there more than one week.
        <ol class="lower-roman">
          <li>
            Biosecurity should be of the utmost importance in situations of animals
            exiting a shelter setting if they are going into boarding. Quarantine
            policies should be heavily discussed as it is highly unethical and
            careless to place dogs of unknown medical history in a boarding
            facility with owned animals.
          </li>
        </ol>
      </li>
      <li>
        Animals in boarding should be the primary concern. If there is an animal in
        boarding waiting on a foster home, no further animals should be brought into
        rescue before that animal exits. This avoids a bottleneck effect of placing
        animals in foster care.
        <ol class="lower-roman">
          <li>
            An exception can be made if the individual who contacted the rescue is
            willing to temporarily continue to foster a found animal or owner
            surrender for the time being.
          </li>
        </ol>
      </li>
    </ol>
  <li>
    Foster homes should have some level of formal education prior to fostering.
  </li>
</ol>