<ol>
  <li>
    Rescues should strive to maintain a professional public presence that is respectful
    and educational at all times.
    <ol class="lower-alpha">
      <li>
        Under no circumstances is it acceptable to slander another organization, owner,
        facility, or shelter.
        <ol class="lower-roman">
          <li>
            This includes twisting stories to drive donations.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    The social media presence of the organization should always be rooted in truth and
    present facts, not assumptions unless this is abundantly clear.
    <ol class="lower-alpha">
      <li>
        Example: “Her fur is urine stained, and we suspect she may have been kept in a
        small kennel unable to get out of her own urine and feces due to her behavior,
        her current condition, and other habits she has shown.”
        <ol class="lower-roman">
          <li>
            Versus: “Her owner kept her locked in a tiny cage because they hated her and
            she was forced to urinate on herself because she was never allowed to go outside.”
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    Rescues should not refer to shelter partners as “kill shelters”, and instead use the terms
    “open intake”, “open admittance”, “municipal”, or “county” in regards to the type of shelter.
    <ol class="lower-alpha">
      <li>
        Shelters must euthanize some of their population at times, and this is unavoidable.
        Criminalizing or demonizing this necessity is at the core unethical and drives support
        away from these shelters that would greatly benefit from community support. It is
        unethical to turn on those that should be our partners in animal welfare.
      </li>
    </ol>
  </li>
  <li>
    Rescues should not use the “adopt don’t shop” mantra.
    <ol class="lower-alpha">
      <li>
        This once started as a slogan to drive education on puppy mills and instead has
        been taken over as hate-fueled propaganda by PETA, and is now unethical.
      </li>
      <li>
        An alternative for this mantra that is acceptable is “adopt or shop responsibly”,
        as this is more transparent to the fact that some dogs can be purchased from
        ethical sources.
      </li>
    </ol>
  </li>
  <li>
    Rescues should not adopt the ideology that all breeding is unethical or that breeders
    are only in it for profit.
    <ol class="lower-alpha">
      <li>
        Ethical breeders do so to better the breed they love.
      </li>
      <li>
        Ethical breeders are easy to identify through the health testing, contracts, and
        treatment of their dogs.
      </li>
      <li>
        Ethical breeders exist, and without their continued breeding programs, eventually
        generations of hard work and dedication will be eradicated and we will be left with
        mentally and physically unstable dogs as the only option. This is the opposite of
        what an ethical rescue should want.
      </li>
      <li>
        If an ethical breeder reaches out to a rescue for help with a special needs puppy
        for any reason, that rescue should either not disclose the original location of the
        puppy or, ideally, explain why they are happy to help an ethical breeder with this
        specific puppy and the changes that will be made to the breeding program.
        <ol class="lower-roman">
          <li>
            If changes are not made to the breeding program, this was not an ethical breeder.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    All local laws should be followed and abided by.
  </li>
  <li>
    Rescues should always post dogs that come into rescue care as a stray in social media
    groups to where the animal was found in an attempt to reunite with an owner.
    <ol class="lower-alpha">
      <li>
        This should also include utilizing features like PawBoost and other lost and
        found resources.
      </li>
      <li>
        If applicable, a found report should be filed with the local municipality
        (police or shelter/ACOs).
      </li>
      <li>
        If an owner does come forward, that animal should be returned.
        <ol class="lower-roman">
          <li>
            Ideally, if possible, the rescue should offer assistance to get the animal
            microchipped before or shortly after reunification with owners.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    Rescue should avoid using harmful slogans or mantras.
    <ol class="lower-alpha">
      <li>
        Example: Adopt Don’t Shop – this was created initially as a way to help education
        about purchasing puppies from pet stores that are supplied by puppy mills and was
        hijacked by PETA and used to target any and all breeders.
        <ol class="lower-roman">
          <li>
            Ethical breeders should be encouraged and never slandered within the ethical
            rescue community. We all have the same goal. As such we need to avoid “Adopt
            Don’t Shop” at all costs.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    Rescues must not slander a veterinary medical professional at any time.
    <ol class="lower-alpha">
      <li>
        The mental health damage to the veterinary community as a result of slanderous
        posts can be irreversible and/or cost a staff member his/her life.
      </li>
      <li>
        Any concerns or issues with a veterinary medical professional should be handled
        out of the public eye.
        <ol class="lower-roman">
          <li>
            If fundraising to correct a medical issue that may be considered malpractice or
            misconduct is required, present the facts of the case only. Do not speculate on
            malpractice or misconduct unless it has already been ruled so by the state
            veterinary medical board, AVMA, or another court of law or governing body.
          </li>
          <li>
            Once the issue is resolved, if it is determined by the agreement, you may then
            post an explanation to the public regarding the facts of the case and only the facts.
            Oftentimes, however, in a settlement it is agreed that there will be no discussion
            after the settlement is reached. If this is the case, this must be respected.
          </li>
        </ol>
      </li>
    </ol>
  </li>
</ol>
