<ol>
  <li>
    Invoices or estimates for all medical care should be posted when asking for
    financial support from the public whenever possible or available.
    <ol class="lower-alpha">
      <li>
        If an invoice is not readily available due to a delayed billing agreement,
        it should be posted when it does become available.
      </li>
    </ol>
  </li>
  <li>
    An explanation of medical care needed should be provided when fundraising.
  </li>
  <li>
    If at any time a donor requests a detailed history of use of funds, it should
    be made available to them within a timely manner.
    <ol class="lower-alpha">
      <li>
        This does not mean an open records request for official tax documents.
        This should be a breakdown of use of funds from bank statements or a
        bookkeeping service such as QuickBooks.
      </li>
    </ol>
  </li>
  <li>
    The primary use of funds should go towards the care of the animals within the
    rescue. When there is excess, then other financial decisions can be made.
    <ol class="lower-alpha">
      <li>
        No animal should have delay of medical care for an operational expense to
        be made.
        <ol class="lower-roman">
          <li>
            Operational expenses include mortgages, travel meals, gas, and other utilities
            for the board of directors that may house animals in their direct care,
            marketing materials, or other goods and services that do not directly benefit
            the animals in care.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    Animals should not be brought into rescue care if there is a large outstanding
    medical debt.
    <ol class="lower-alpha">
      <li>
        Rescues should maintain a good relationship with businesses that care for the
        animals in their care by paying for services rendered in a timely manner.
        <ol class="lower-roman">
          <li>
            If at any point a medical debt is sent to collections, the rescue must work
            to repair the damage for other rescue clients with that veterinary medical
            provider so that other rescues will not suffer for their misconduct.
          </li>
        </ol>
      </li>
    </ol>
  </li>
</ol>