<div class="ethics-category">
  <p>
    Euthanasia is an unfortunate reality in rescue for a variety of reasons including emotional
    and behavioral, which must be considered as important as physical health. Providing this
    compassionate care is hard on us at times, but animal welfare is not easy. As such, we need
    to lead by example to do right by these animals no matter how it makes us feel. Not every
    case can be a success story, but the care of every animal can be successful and ethical.
  </p>
  <ol>
    <li>
      Euthanasia should be strongly considered when suggested by a licensed veterinarian in
      regard to health or behavior. Emotional health needs to be considered as important as
      physical health.
    </li>
    <li>
      All animals in rescue care should be on the path to a treatment plan for any and all
      medical needs. Animals should not wait for care if the rescue does not have the funds.
    </li>
  </ol>
</div>
