<ol>
  <li>
    For any dog with aggression, behavioral euthanasia should be strongly considered.
    <ol class="lower-alpha">
      <li>
        An individual organization may determine an appropriate use of resources to
        seek training from a qualified trainer.
        <ol class="lower-roman">
          <li>
            Balanced training methods should be considered and tried, not outright avoided.
          </li>
          <li>
            If the dog is directly in a trainer’s care, the dog’s progress should be
            evaluated on a weekly basis and if the dog is not making progress. If progress
            stalls, the trainer should be consulted as far as next steps needed. If
            behavioral euthanasia is recommended, this must be considered.
          </li>
          <li>
            If the dog is in foster care with training supervised by a quality trainer,
            the dog’s progress should be evaluated every 3 weeks. If progress stalls,
            the trainer should be consulted as far as next steps. If Board and Train
            is recommended but is not financially possible, this should be discussed
            as far as realistic expectations for this individual.
          </li>
          <li>
            If behavior modification medications are put in place by a licensed
            veterinarian, it may be necessary to allow additional time for medications
            to take effect prior to determining if training will be successful.
          </li>
        </ol>
      </li>
      <li>
        If the resources for one dog for behavior modification without progress is
        exceeding the need for resources for other readily adoptable dogs, it is
        encouraged that the rescue reconsider the ultimate goal for the overall
        concept of animal welfare.
      </li>
      <li>
        Any dogs with active bite cases should be strongly considered for behavioral
        euthanasia, as this is a severe risk to the public.
      </li>
      <li>
        Dogs that have killed companion animals should not be placed in homes with
        any other animals or children, and ultimately should be a strong candidate
        for behavioral euthanasia due to the risk to the public.
        <ol class="lower-roman">
          <li>
            Public health and safety should be the primary focus and concern for
            any and all behavioral cases. If they are unable to pass evaluation
            due to aggression, behavioral euthanasia should be discussed.
          </li>
        </ol>
      </li>
      <li>
        Behavior modification medication should be considered and monitored under
        the guidance of a licensed veterinarian when appropriate.
        <ol class="lower-roman">
          <li>
            This should not be considered the only method and should always be used
            in conjunction with behavior modification training.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    No animal should be put through excessive and unfair treatment plans under the
    care of a veterinarian. If euthanasia is suggested by a licensed veterinarian,
    it should be strongly considered.
    <ol class="lower-alpha">
      <li>
        If an animal’s medical condition is severely declining in care, hospitalized
        or otherwise, humane euthanasia should be discussed.
      </li>
      <li>
        There should be limits set when going into a medical case requiring
        significant care and once limits are reached a humane decision should
        be made.
        <ol class="lower-roman">
          <li>
            Finances should be a factor for care of an individual when those funds
            could be used to save many either already in rescue care or needing
            to come into rescue care.
          </li>
          <li>
            Organizations may deliberate what is considered within their realistic
            scope of resources, but once that limit is reached, humane decisions
            should be discussed and made.
          </li>
        </ol>
      </li>
      <li>
        If an animal's condition deteriorates to a point of concern for cardiac
        arrest, that animal should be humanely euthanized.
      </li>
      <li>
        If an animal needs a major and invasive surgery that does not have
        considerably positive prognostic outcomes possible, that animal
        should be humanely euthanized.
      </li>
      <li>
        The animals should be assessed on an every 12 to 24 hour basis if
        in hospitalized care.
        <ol class="lower-roman">
          <li>
            If at any time during hospitalization the animal’s condition declines
            to the point that a licensed veterinarian suggests humane euthanasia,
            this must be strongly considered, and the resources for continued
            care need to be reevaluated.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    All animals in rescue care should be on the path to a treatment plan for any
    and all medical needs.
    <ol class="lower-alpha">
      <li>
        Animals should not wait for adoptive placement for the treatment process
        to begin, as this is not a good quality of life for that animal.
      </li>
      <li>
        Elective surgeries such as benign mass removals should be disclosed to
        the adopter as a potential need in the future, but are not necessary to
        perform while in rescue care.
      </li>
      <li>
        Elective corrective surgeries such as a TPLO or Lateral Suture for a torn
        cruciate ligament should be discussed with the potential adopter if not
        performed while in rescue care.
        <ol class="lower-roman">
          <li>
            If a corrective surgery like this is not performed due to costs the animal
            should be on appropriate chronic pain management and supplements for this
            condition or injury.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    Behavior and emotional health should be considered just as important as physical health.
  </li>
</ol>