<% tab = '&nbsp &nbsp &nbsp'.html_safe %>

<div class="container" >
  <div id="misha-modal-prompt" class="modal vertical-navbar-hidden">
    <div class="modal-background"></div>
    <div class="modal-content board-of-directors-modal">
      <%= image_tag "about_pages/what_is_era/misha.jpg", class: "obj-pos-right" %>
      <div class="has-text-centered pt-4">
        <div class="title is-size-4">
          Misha Krul
        </div>
        <div class="subtitle is-size-6 mb-0">
          Secretary
        </div>
        <div class="has-text-left p-3">
          <p>
            <%= tab %>Misha is a full-time software developer in Mebane,
            North Carolina. After adopting her pit mix Phantom in October of 2021,
            Misha became heavily involved in the divisive world of pit bull advocacy.
            Disillusioned by extremists on both sides, she founded a podcast and Reddit
            page in an attempt to bridge the divide and raise awareness about the
            American Pit Bull Terrier and its kin.
          </p>
          <p class="mt-4">
            <%= tab %>In her search for others who shared a similar philosophy,
            Misha stumbled upon a group of TikTok creators who were interested in building
            a database of ethical rescues. She volunteered to assist in this project,
            and within the span of a few weeks, the small team had blossomed into a
            committee of like-minded individuals who were passionate and enthusiastic
            about promoting animal welfare.
          </p>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>

<%= javascript_include_tag "modals/modal_prompt.js" %>
