<div class="ethics-category">
  <p>
    Rescues should maintain a professional public presence at all times both in person and
    on social media. When discussing cases, there should be only factual statements presented,
    not embellished stories to garner donor generosity. Appropriate and supportive partnerships
    with shelters is a must, as without shelters, animal welfare would be unreachable on a
    larger scale. Following local laws even when it is not what we want to do sets an example
    for those around us. Being positive and uplifting to all animal professionals, including
    ethical breeders and veterinary medical professionals, is vital to maintain an ethical
    public presence.
  </p>
  <ol>
    <li>
      Rescues should strive to maintain a professional public presence that is respectful and
      educational at all times.
    </li>
    <li>
      The social media presence of the organization should always be rooted in truth and facts,
      not assumptions unless this is abundantly clear.
    </li>
    <li>
      Rescues should not refer to shelter partners as "kill shelters", and instead use the
      appropriate terms.
    </li>
    <li>
      Rescues should not adopt the ideology that all breeding is unethical or that breeders are
      only in it for profit. Ethical breeding of dogs and other animals is very possible and
      rescues should support that.
    </li>
    <li>
      All local laws should be followed and abided by, including returning a pet to an owner if
      the animal was an unclaimed stray and is still in care.
    </li>
    <li>
      Rescue should avoid using harmful slogans or mantras, including slander of other animal
      professionals such as breeders and veterinarians.
    </li>
  </ol>
</div>
