<ol>
  <li>
    Rescues should not be pulling pregnant dogs with the intention to whelp litters.
    <ol class="lower-alpha">
      <li>
        Spay abort should be pursued for any pregnant dog in rescue care to limit the
        number of dogs seeking homes.
      </li>
      <li>
        The bitch may be allowed to whelp if a veterinarian deems it a severe health
        risk to her to undergo a spay abort procedure.
        <ol class="lower-roman">
          <li>
            If this is the case, a second opinion from a high volume veterinarian would
            ideally be sought out.
          </li>
        </ol>
      </li>
      <li>
        Biosecurity of other animals in rescue or foster care should be of the most
        concern when whelping litters of unknown history as they are a reservoir for
        deadly illnesses.
      </li>
    </ol>
  </li>
  <li>
    The emotional health and wellbeing of every animal should be reevaluated on a
    regular basis, and if there is a sudden or steady decline, there should be
    intervention put in place to avoid emotional suffering of that animal.
    <ol class="lower-alpha">
      <li>
        Example: Animals going “kennel crazy” in a facility should be evaluated for
        placement in a foster home or for behavior modification medications in the
        short term to assist with anxiety and depression.
      </li>
      <li>
        Rescues and shelter organizations should consider pursuing Fear Free Shelter
        training for better tools to help evaluate FAS Scales (Fear, Anxiety, and
        Stress) within a high volume setting
      </li>
      <li>
        Rescues and shelter organizations should consider continuing education such
        as the Dogs Play For Life program to discuss enrichment for animals living
        in a facility environment.
      </li>
      <li>
        Enrichment for all dogs in a facility environment should be considered and
        utilized when appropriate with caution for foreign body obstruction risk.
        <ol class="lower-roman">
          <li>
            Enrichment should also be considered for high drive dogs in foster care
            and the foster should be guided on safe practices for enrichment games
            and activities.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    Every animal in rescue care should be microchipped before entering a foster
    home or an adoptive home.
    <ol class="lower-alpha">
      <li>
        All microchips should be registered with the rescue as a permanent contact.
        <ol class="lower-roman">
          <li>
            You may need to negotiate with your microchip company for a way to do this.
          </li>
        </ol>
      </li>
      <li>
        Even if the dog transfers organizations, the first animal welfare
        organization that took that animal in should be trackable so that
        the origin of that animal’s care is traceable.
        <ol class="lower-roman">
          <li>
            This benefits the animal and ultimately the adoptive home in the chances
            anything is lost along the way.
          </li>
        </ol>
      </li>
    </ol>
  </li>
</ol>