<div class="ethics-category">
  <p>
    Animal welfare advocacy is not about the singular individual in front of us, but rather
    the welfare and care of all around us. We must understand the difference from Animal
    Rights activism. Understanding and acting on a deep, scientific understanding of
    physical, mental, and emotional health and wellbeing will lead to accountability for
    every animal that is placed in a home.
  </p>
  <ol>
    <li>
      Rescues should focus on the quality of care and not the quantity of animals.
    </li>
    <li>
      Rescues should understand the difference between Animal Rights Activism and
      Animal Welfare Advocacy.
    </li>
    <li>
      The emotional health and wellbeing of every animal should be reevaluated on a
      regular basis, and if there is a sudden or steady decline, there should be intervention
      put in place to avoid emotional suffering of that animal.
    </li>
    <li>
      Accountability for every animal placed in any home (foster or adopter) should be a primary
      focus and action.
    </li>
  </ol>
  <div class="welfare-background"></div>
</div>