<div class="contact-container">
  <div class="banner-container">
    <div class="banner-img">
      <div class="hero-body hero-content">
        <div class="banner-content">
          <h3 class="tagline-primary font-gotham-bold">
            Contact ERA
          </h3>
          <h3 class="tagline-secondary font-gotham-regular">
            The standards that govern ERA-accredited rescue operations
          </h3>
        </div>
      </div>
    </div>
  </div>

  <section class="section container">
    <section class="content-container">
      <div class="container">
        <h2 class="title font-gotham mb-5 coe-title d-flex justify-center">Give us a shout</h2>

        <section class="container">
          <div class="columns is-gapless">
            <div class="column">
              <div class="font-gotham contact-inquiry-container">
                <div class="contact-inquiry">
                  <p>
                    Our team is here to help and answer any questions you might have.  We look forward to hearing from you. 😊
                  <p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <form action="" method="post">
          <div class="field">
            <label for="name" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
              <input type="text" name="name" id="name" class="input" placeholder="Name" autofocus>
                <span class="icon is-left">
                  <i class="fa fa-user"></i>
                </span>
            </div>
          </div>
          <div class="field">
            <label for="email" class="label is-size-4 has-text-weight-light"></label>
          <div class="control has-icons-left">
            <input type="email" name="email" id="email" class="input" placeholder="Email">
              <span class="icon is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label for="message" class="label is-size-4 has-text-weight-light"></label>
            <textarea name="message" id="message" rows="5" class="textarea is-medium" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="button is-success is-size-5">Submit</button>
        </form>
      </div>
    </section>
  </section>
</div>

<script>
  $(document).ready(function() {
    var allPanels = $('.accord-content').hide();
    var heads = $('.accordion header');
    $(heads).on('click', function() {
      $this = $(this);
      $target =  $this.parent().find('div.accord-content');
      if (!$target.hasClass('active')) {
        heads.removeClass('selected');
        $this.addClass('selected');
        $('.carrot').addClass('selected');
        allPanels.removeClass('active').slideUp();
        $target.addClass('active').slideDown();
      } else {
        heads.removeClass('selected');
        $('.carrot').removeClass('selected');
        allPanels.removeClass('active').slideUp();
      }
    });
  });
</script>