<div class="what-is-era-container">
  <div class="banner-container">
    <div class="banner-img">
      <div class="hero-body hero-content">
        <div class="banner-content">
          <h3 class="tagline-primary font-gotham-bold">
            What is ERA?
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div>
    <section class="container">
      <div class="sandbox">
        <div class="tile is-ancestor mt-4">
          <div class="tile is-parent is-shady">
            <article class="tile is-child notification is-white">
              <div class="content">
                <div class="era-logo-container">
                  <%= image_tag "logos/era-logo-colored.png" %>
                </div>
              </div>
            </article>
          </div>
          <div class="tile is-parent is-8 is-shady">
            <article class="tile is-child notification is-white">
              <div class="content">
                <p>
                  <span class="font-md">The Ethical Rescue Association</span> is an accrediting body <%= @lorem %>
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
