/* SCREEN SIZES */

$DESKTOP-LG: 1920px;
$DESKTOP: 1344px;
$TABLET-LG: 1215px;
$TABLET: 768px;
$TABLET-SM: 600px;
$MOBILE: 414px;

/* COLORS */

$BLACK: #000000 !important;
$LIGHT-BLACK: #1a1a1a !important;
$BRAND-GOLD: #987938 !important;
$BRAND-BLUE: #2a3457 !important;
$BRAND-DARK-BLUE: #1a2036 !important;
$DARK-GRAY: #2e2e2e !important;
$DARKER-GRAY: #1e1e1e !important;
$BRAND-LIGHT-BLUE: #F6F6F8 !important;
$PERIWINKLE: #88B1FF !important;
$SLATE-GREY: #6F8BA4 !important;
$POWDER-BLUE: #eef1fc !important;
$CREAM: #fef7f1 !important;
$LIGHT-BLUE: #8da1e0 !important;
$WHITE: #FFFFFF !important;
$OFFWHITE: #f2f2f2 !important;
$BRONZE: #987938 !important;
$SILVER: #c0c0c0 !important;
$GOLD: #ffd700 !important;

/* FONT */

$FONT-ROBOTO: "Roboto", sans-serif;
$FONT-GOTHAM: "Gotham SSm","Gotham","Verdana","Arial",sans-serif;
$FONT-GOTHAM-BOLD: "Gotham Bold","Verdana","Arial",sans-serif;
$FONT-GOTHAM-REGULAR: "Gotham","Verdana","Arial",sans-serif;

$FONT-SIZE-14: 14px !important;
$FONT-SIZE-16: 16px !important;
$FONT-SIZE-18: 18px !important;
$FONT-SIZE-20: 20px !important;
$FONT-SIZE-22: 22px !important;
$FONT-SIZE-24: 24px !important;
