/* SCREEN SIZES */

$DESKTOP-LG: 1920px;
$DESKTOP: 1344px;
$TABLET-LG: 1215px;
$TABLET: 768px;
$TABLET-SM: 600px;
$MOBILE: 414px;

/* COLORS */

$BLACK: #000000;
$LIGHT-BLACK: #1a1a1a;
$BRAND-GOLD: #987938;
$BRAND-BLUE: #2a3457;
$BRAND-DARK-BLUE: #1a2036;
$DARK-GRAY: #2e2e2e;
$DARKER-GRAY: #1e1e1e;
$BRAND-LIGHT-BLUE: #F6F6F8;
$PERIWINKLE: #88B1FF;
$SLATE-GREY: #6F8BA4;
$POWDER-BLUE: #eef1fc;
$CREAM: #fef7f1;
$LIGHT-BLUE: #8da1e0;
$WHITE: #FFFFFF;
$OFFWHITE: #f2f2f2;
$BRONZE: #987938;
$SILVER: #c0c0c0;
$GOLD: #ffd700;

/* FONT */

$FONT-ROBOTO: "Roboto", sans-serif;
$FONT-GOTHAM: "Gotham SSm","Gotham","Verdana","Arial",sans-serif;
$FONT-GOTHAM-BOLD: "Gotham Bold","Verdana","Arial",sans-serif;
$FONT-GOTHAM-REGULAR: "Gotham","Verdana","Arial",sans-serif;

$FONT-SIZE-14: 14px;
$FONT-SIZE-16: 16px;
$FONT-SIZE-18: 18px;
$FONT-SIZE-20: 20px;
$FONT-SIZE-22: 22px;
$FONT-SIZE-24: 24px;
