/* SCREEN SIZES */

$FULLSCREEN: 1344px;
$TABLET-LG: 1200px;
$TABLET: 768px;
$TABLET-SM: 600px;
$MOBILE: 414px;

/* COLORS */

$BRAND-BLUE: #2a3457;
$BRAND-DARK-BLUE: #1a2036;
$DARK-GRAY: #2e2e2e;
$DARKER-GRAY: #1e1e1e;
$BRAND-LIGHT-BLUE: #F6F6F8;
$LIGHT-BLUE: #8da1e0;
$WHITE: #FFF;
$OFFWHITE: #f5f5f5;

/* FONT */

$FONT-ROBOTO: 'Roboto', sans-serif;
$FONT-GOTHAM: 'Gotham SSm','Gotham','Verdana','Arial',sans-serif;
$FONT-GOTHAM-BOLD: 'Gotham Bold','Verdana','Arial',sans-serif;
$FONT-GOTHAM-REGULAR: 'Gotham','Verdana','Arial',sans-serif;