@import "bulma";
@import "font-awesome";
@import url("https://fonts.cdnfonts.com/css/gotham-ssm");
@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.cdnfonts.com/css/gotham-black');
@import url('https://fonts.cdnfonts.com/css/gotham-bold');
@import "../stylesheets/join_us/join_us.scss";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //= require jquery3
 //= require jquery_ujs
 *= require_tree .
 *= require_self
 */

/* FONT */

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-gotham {
  font-family: 'Gotham SSm','Gotham','Verdana','Arial',sans-serif;
}

.font-gotham-bold {
  font-family: 'Gotham Bold', sans-serif;
}

/* MISC */

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

/* GREY BAR */

.white-bar {
  background-color: white;
  height: 35px;
}

/* NAVBAR */

.navbar-container {
  font-style: normal;
  letter-spacing: 0.005em;
}

.f-14 {
  font-size: 14px;
}

.main-title {
  font-size: 15px;
  color: #485fc7;
  padding-left: 20px;
}

.logout-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

/* BANNERS */

/* MAIN */
