
@import "bulma";
@import "font-awesome";
@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.cdnfonts.com/css/gotham-black');
@import url('https://fonts.cdnfonts.com/css/gotham-bold');
@import url("https://fonts.cdnfonts.com/css/gotham-ssm");
@import url('https://fonts.cdnfonts.com/css/gotham');
@import "../stylesheets/main/main";
@import "../stylesheets/code_of_ethics/code_of_ethics";
@import "../stylesheets/what_is_era/what_is_era";
@import "../stylesheets/faq/faq";
@import "../stylesheets/contact_us/contact_us";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //= require jquery
 //= require jquery3
 //= require jquery_ujs
 *= require_tree .
 *= require_self
 */

// REMOVES ALL HIGHLIGHTS

button,
textarea,
input,
header,
section,
select,
span,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  line-height: 1.7em!important;
}


/* DEFULT */

.tab {
  width: 1.5rem;
  display: inline-block;
}

/* TEXT */

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-gotham {
  font-family: 'Gotham SSm','Gotham','Verdana','Arial',sans-serif;
}

.font-gotham-bold {
  font-family: 'Gotham Bold','Verdana','Arial',sans-serif;
}

.font-gotham-regular {
  font-family: 'Gotham','Verdana','Arial',sans-serif;
}

.text-black {
  color: $BLACK;
}

.text-red {
  color: red;
}

.text-med-grey {
  color: $MED-GRAY !important;
}

.double-spaced {
  line-height: 2 !important;
}

/* COOKIES BAR */

.cookies {
  width: 100%;
  position: fixed;
  display: none;
  bottom: 0;
  z-index: 100;
  height: 80px;
  background-color: $INFO-BLUE;
  text-align: center;
  padding: 1rem 20rem;

  .content {
    color: $WHITE;
  }

  .close {
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.75rem 1rem;
    color: $WHITE;
  }

  a {
    color: $BRAND-BLUE;
  }
}

/* POSITION */

.is-absolute {
  position: absolute;
}

.is-relative {
  position: relative;
}

/* DISPLAY */

.standard-padding {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;

  @media only screen and (max-width: $TABLET) {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  @media only screen and (max-width: $MOBILE) {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

/* NAVBAR */

.navbar-container {
  font-style: normal;
  font-size: $FONT-SIZE-16;
  letter-spacing: 0.005rem;

  .negative-margin {
    margin-bottom: -25px;
    height: 68px;
    padding-right: 15px;
    @media only screen and (max-width: $TABLET-LG) {
      padding-right: 0;
    }
    @media only screen and (max-width: $TABLET) {
      padding-right: 0;
    }
    @media only screen and (max-width: $MOBILE) {
      padding-right: 0;
    }
  }

  .become-a-member {
    border-color: transparent;
    color: $BRAND-BLUE;
    outline: 0;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px 5px;
    font-size: $FONT-SIZE-16;

    @media only screen and (max-width: $TABLET-LG) {
      height: fit-content;
      padding: 0;
    }
    @media only screen and (max-width: $TABLET) {
      height: fit-content;
      padding: 0;
    }
    @media only screen and (max-width: $MOBILE) {
      height: fit-content;
      padding: 0;
    }
  }

  .become-a-member:hover {
    border-color: transparent;
    color: $BRAND-BLUE;
    outline: 0;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .become-a-member:focus {
    border-color: transparent;
    color: $BRAND-BLUE;
    outline: none;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .nav-link {
    color: $BRAND-BLUE;
  }
}

.main-title {
  font-size: $FONT-SIZE-16;
  color: $LIGHT-BLACK;
  margin: auto 0;
  width: 100%;
  min-width: fit-content;
  margin-right: 0.5rem;
  margin-left: 2rem;

  @media only screen and (max-width: $MOBILE) {
    margin-left: 5vw;
    font-size: $FONT-SIZE-14;
  }
}

.dropdown-link {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 11rem;
  @media only screen and (max-width: $TABLET-MD) {
    width: 9rem;
  }
}

.logout-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

/* LOGIN / SIGN UP */

.container-small {
  width: 500px;
  height: 53vh;
}

/* HEADERS */

.section-header {
  line-height: 2.5rem !important;
  letter-spacing: 1.5px;
}

/* MAIN */

.promo-container {
  background: $BLACK;
  display: flex;
  justify-content: center;
  align-items: unset;
  text-align: center;
  position: relative;
  min-height: 100%;
  height: 100vh;
}

.phantom {
  display: none;
  height: fit-content;
  color: transparent;
  right: 0;
  position: absolute;
  opacity: 0;

  a:hover {
    cursor: default;
  }
}

.coming-soon {
  @media only screen and (max-width: $TABLET) {
    height: fit-content;
  }
  @media only screen and (max-width: $MOBILE) {
    height: fit-content;
  }
}

/* FOOTER */

.era-logo-container-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 0.6rem;
}

.era-logo-footer {
  background-image: url("logos/era-logo-colored.png");
  background-size: 9rem;
  height: 9rem;
  width: 9rem;
}

.logo-and-social-media-icons-container {
  min-width: fit-content;
}

.social-media-icons {
  text-align: center;
  width: 8rem;
  margin: 0 auto;
  i {
    padding: 0 4px;
  }
}

.footer-height {
  height: fit-content;
}

.ein-info {
  font-size: 0.8rem;
  margin: 1.5rem;
}

/* LOGO SEPARATOR */

.logo-separator {
  display: flex;
  justify-content: center;
  height: fit-content;

  img {
    height: 50px;
  }

  .line-container {
    height: 100%;
    margin: auto 0;
  }

  .line {
    height: 1px;
    width: 100px;
    background-color: $BRAND-GOLD;
    margin-right: 1rem;
    margin-left: 1rem;

    @media only screen and (max-width: $MOBILE) {
      width: 22vw;
    }
  }
}

// MAIN BANNERS

.banner-container {
  section {
    div {
      padding: 0;
      display: flex;
      justify-content: flex-end;

      @media only screen and (max-width: $TABLET) {
        height: 20rem;
      }
    }
  }

  .header-image {
    background-size: cover;
    height: 40rem;

    @media only screen and (max-width: $TABLET) {
      height: 20rem;
    }

    div {
      display: flex;
      flex-direction: column;
      padding: 0;

      @media only screen and (max-width: $TABLET) {
        width: 100%;
        text-align: center;
      }
    }

    h1 {
      text-shadow: #000 0 0 1rem;
      font-size: 4.3rem;
      margin-left: 6vw;
      line-height: 1.15;
      letter-spacing: 2px;

      @media only screen and (max-width: $TABLET) {
        margin-left: 0;
        font-size: 2.2rem;
        letter-spacing: 1px;
        line-height: 1.3;
      }
    }

    h5 {
      text-shadow: #000 0 0 0.5rem;
      font-size: 18px;
      margin-left: 6vw;
      font-weight: 400;
      line-height: 2.75rem;

      @media only screen and (max-width: $TABLET) {
        font-size: 14px;
        margin-left: 0;
        line-height: 1.5rem;
      }
    }
  }
}