@import "bulma";
@import "font-awesome";
@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.cdnfonts.com/css/gotham-black');
@import url('https://fonts.cdnfonts.com/css/gotham-bold');
@import url("https://fonts.cdnfonts.com/css/gotham-ssm");
@import url('https://fonts.cdnfonts.com/css/gotham');
@import "../stylesheets/main/main.scss";
@import "../stylesheets/about_pages/code_of_ethics.scss";
@import "../stylesheets/about_pages/what_is_era.scss";
@import "../stylesheets/about_pages/faq.scss";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //= require jquery3
 //= require jquery_ujs
 *= require_self
 */

// REMOVES ALL HIGHLIGHTS

button,
textarea,
input,
header,
section,
select,
span,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}


/* DEFULT */

.body-container {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

/* FONT */

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-gotham {
  font-family: 'Gotham SSm','Gotham','Verdana','Arial',sans-serif;
}

.font-gotham-bold {
  font-family: 'Gotham Bold','Verdana','Arial',sans-serif;
}

.font-gotham-regular {
  font-family: 'Gotham','Verdana','Arial',sans-serif;
}

.text-black {
  color: $BLACK;
}

/* DISPLAY */

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

/* NAVBAR */

.navbar-container {
  font-style: normal;
  letter-spacing: 0.005em;

  .negative-margin {
    margin-bottom: -25px;
    height: 68px;
    padding-right: 15px;
    @media only screen and (max-width: $TABLET-LG) {
      padding-right: 0;
    }
    @media only screen and (max-width: $TABLET) {
      padding-right: 0;
    }
    @media only screen and (max-width: $MOBILE) {
      padding-right: 0;
    }
  }

  .become-a-member {
    border-color: transparent;
    color: $BRAND-BLUE;
    outline: 0;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px 5px;

    @media only screen and (max-width: $TABLET-LG) {
      height: fit-content;
      padding: 0;
    }
    @media only screen and (max-width: $TABLET) {
      height: fit-content;
      padding: 0;
    }
    @media only screen and (max-width: $MOBILE) {
      height: fit-content;
      padding: 0;
    }
  }

  .become-a-member:hover {
    border-color: transparent;
    color: $BRAND-BLUE;
    outline: 0;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .become-a-member:focus {
    border-color: transparent;
    color: $BRAND-BLUE;
    outline: none;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .nav-link {
    color: $BRAND-BLUE;
  }
}

.font-size-14 {
  font-size: 14px;
}

.main-title {
  font-size: 14px;
  color: $BRAND-BLUE;
  margin: auto 0;
  width: 100%;
}

.logout-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

/* LOGIN / SIGN UP */

.login-and-signup-container {
  width: 500px;
  height: 53vh;
}

/* BANNERS */

.hero-content {
  position: absolute;
  right: 0;
  bottom: 0;
  @media only screen and (max-width: $TABLET-LG) {
    margin-left: 0;
  }
  @media only screen and (max-width: $TABLET) {
    margin-left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @media only screen and (max-width: $MOBILE) {
    margin-left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.banner-container {
  position: relative;
  text-align: left;
  height: 430px;
  width: 100%;
}

.banner-content {
  display: flex;
  position: relative;
  height: inherit;
  margin: 0 8em;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;

  @media only screen and (max-width: $TABLET-LG) {
    margin: 0 5em;
  }
  @media only screen and (max-width: $TABLET) {
    margin: 0 10px;
  }
  @media only screen and (max-width: $MOBILE) {
    margin: 0;
  }
}

.tagline-primary {
  color: $WHITE;
  font-size: 60px;
  line-height: 1.25em;
  padding: 10px 0 25px;
  width: 900px;
  max-width: 900px;
  text-align: right;
  text-shadow: $DARK-GRAY 0 0 12px;

  @media only screen and (max-width: $FULLSCREEN) {
    width: 100%;
  }
  @media only screen and (max-width: $TABLET-LG) {
    font-size: 50px;
    line-height: 1.25em;
    width: 100%;
  }
  @media only screen and (max-width: $TABLET) {
    font-size: 50px;
    line-height: 1.25em;
    width: 100%;
    text-align: center;
  }
  @media only screen and (max-width: $MOBILE) {
    padding: 10px 0 22px;
    font-size: 40px;
    width: 100%;
    line-height: 1.25em;
    text-align: center;
  }
}

.tagline-secondary {
  color: $WHITE;
  font-size: 20px;
  height: 40px;
  text-align: right;
  text-shadow: $DARKER-GRAY 0 0 12px;

  @media only screen and (max-width: $TABLET-LG) {
    height: inherit;
    text-align: right;
    width: 100%;
    font-size: 18px;
  }
  @media only screen and (max-width: $TABLET) {
    height: inherit;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  @media only screen and (max-width: $MOBILE) {
    height: inherit;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
}

/* MAIN */

.top-bar {
  height: 3.5em;
  background-color: $OFFWHITE;
}

.promo-container {
  background: $BLACK;
  display: flex;
  justify-content: center;
  align-items: unset;
  text-align: center;
  position: relative;
  min-height: 100%;
  height: 100vh;
}

.phantom {
  height: fit-content;
  color: transparent;
  right: 0;
  position: absolute;
  opacity: 0;

  a:hover {
    cursor: default;
  }
}

.coming-soon {
  @media only screen and (max-width: $TABLET) {
    height: fit-content;
  }
  @media only screen and (max-width: $MOBILE) {
    height: fit-content;
  }
}

/* FONT STYLING */

.font-standard-body {
  line-height: 1.8em;
  font-size: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-22 {
  font-size: 22px;
}

/* FOOTER */

.era-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.6em;
}

.era-logo {
  background-image: url("logos/era-logo-colored.png");
  background-size: 9em;
  height: 9em;
  width: 9em;
}

.logo-and-social-media-icons-container {
  min-width: fit-content;
}

.social-media-icons {
  text-align: center;
  width: 8em;
  margin: 0 auto;
  i {
    padding: 0 4px;
  }
}

.footer-height {
  height: fit-content;
}

.ein-info {
  font-size: 0.8em;
  margin: 1.5em;
}

/* LOGO SEPARATOR */

.logo-separator {
  display: flex;
  justify-content: center;
  height: fit-content;

  img {
    height: 50px;
  }

  .line {
    height: 1px;
    width: 100px;
    background-color: $BRAND-GOLD;
    margin: auto 0;
    margin-right: 0px;
    margin-right: 15px;
  }
}