
@import "../application_config.scss";

.code-of-ethics-container {

  /* BANNER */

  .banner-img {
    background-image: url("about_pages/code_of_ethics/code-of-ethics-banner.jpg");
    height: 430px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: $TABLET-LG) {
      background-image: url("about_pages/code_of_ethics/code-of-ethics-banner-tablet-lg.jpg");
    }
    @media only screen and (max-width: $TABLET) {
      background-image: url("about_pages/code_of_ethics/code-of-ethics-banner-tablet-mobile.jpg");
    }
    @media only screen and (max-width: $MOBILE) {
      background-image: url("about_pages/code_of_ethics/code-of-ethics-banner-tablet-mobile.jpg");
    }
  }

  .content-container {
    padding: 1.5em 0;
  }

  /* message from President */

  .president-statement-container {
    @media only screen and (max-width: $TABLET-LG) {
      padding: 0 2em;
    }
  }

  .president-photo-container {
    @media only screen and (max-width: $TABLET) {
      display: flex;
      justify-content: center;
    }
    @media only screen and (max-width: $MOBILE) {
      display: flex;
      justify-content: center;
    }
  }

  .coe-statement-container {
    padding-left: 6%;

    @media only screen and (max-width: $TABLET) {
      padding: 0;
    }

    @media only screen and (max-width: $MOBILE) {
      padding: 0;
    }
  }

  .coe-statement-title {
    font-size: 22px;
    line-height: 1.5em;

    @media only screen and (max-width: $TABLET) {
      padding-top: 1.75em;
      text-align: center;
    }

    @media only screen and (max-width: $MOBILE) {
      padding-top: 1.75em;
      text-align: center;
    }
  }

  .coe-title {
    line-height: 1.3em;
  }

  .presidents-coe-statement {
    line-height: 1.8em;
    font-size: 16px;
  }

  .president-sig-container {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }

  .president-sig {
    width: 12em;
  }

  .coe-ethics-statement {
    margin-top: 1.5em;
    margin-bottom: 2em;
    color: $BLACK;
    line-height: 1.8em;
  }

  .coe-card-content {
    height: 16em;

    @media only screen and (max-width: 1407px) {
      height: 19em;
    }
    @media only screen and (max-width: 1215px) {
      height: 22em;
    }
    @media only screen and (max-width: 1023px) {
      height: 25em;
    }
    @media only screen and (max-width: 810px) {
      height: 28em;
    }
    @media only screen and (max-width: $TABLET) {
      height: auto;
    }
    @media only screen and (max-width: $MOBILE) {
      height: auto;
    }
  }

  .ethics-category {
    line-height: 1.45em;
  }

  .ethics-category-photo {
    object-fit: cover;
  }
}