
@import "../application_config.scss";

.faq-container {

  /* BANNER */

  .hero-content {
    position: absolute;
    right: 0;
    bottom: 0;
    @media only screen and (max-width: $TABLET-LG) {
      margin-left: 0;
    }
    @media only screen and (max-width: $TABLET) {
      margin-left: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    @media only screen and (max-width: $MOBILE) {
      margin-left: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  .banner-container {
    position: relative;
    text-align: left;
    height: 430px;
    width: 100%;
  }

  .banner-img {
    background-image: url("about_pages/faq/faq-banner.jpg");
    height: 430px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: $TABLET-LG) {
      background-image: url("about_pages/faq/faq-banner-tablet-lg.jpg");
    }
    @media only screen and (max-width: $TABLET) {
      background-image: url("about_pages/faq/faq-banner-tablet-mobile.jpg");
    }
    @media only screen and (max-width: $MOBILE) {
      background-image: url("about_pages/faq/faq-banner-tablet-mobile.jpg");
    }
  }

  .banner-content {
    display: flex;
    position: relative;
    height: inherit;
    margin: 0 8rem;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;

    @media only screen and (max-width: $TABLET-LG) {
      margin: 0 5rem;
    }
    @media only screen and (max-width: $TABLET) {
      margin: 0 10px;
    }
    @media only screen and (max-width: $MOBILE) {
      margin: 0;
    }
  }

  .tagline-primary {
    color: white;
    font-size: 60px;
    line-height: 50px;
    padding: 10px 0 25px;
    width: 900px;
    max-width: 900px;
    text-align: right;
    text-shadow: $DARK-GRAY 0 0 12px;

    @media only screen and (max-width: $FULLSCREEN) {
      width: 100%;
    }
    @media only screen and (max-width: $TABLET-LG) {
      font-size: 50px;
      line-height: 55px;
      width: 100%;
    }
    @media only screen and (max-width: $TABLET) {
      font-size: 50px;
      line-height: 55px;
      width: 100%;
      text-align: center;
    }
    @media only screen and (max-width: $MOBILE) {
      padding: 10px 0 22px;
      font-size: 40px;
      width: 100%;
      line-height: 40px;
      text-align: center;
    }
  }

  .tagline-secondary {
    color: white;
    font-size: 20px;
    height: 40px;
    text-align: right;
    text-shadow: $DARKER-GRAY 0 0 12px;
    display: none;

    @media only screen and (max-width: $TABLET-LG) {
      height: inherit;
      text-align: right;
      width: 100%;
      font-size: 18px;
    }
    @media only screen and (max-width: $TABLET) {
      height: inherit;
      text-align: center;
      width: 100%;
      font-size: 18px;
    }
    @media only screen and (max-width: $MOBILE) {
      height: inherit;
      text-align: center;
      width: 100%;
      font-size: 18px;
    }
  }

  /* ACCORDION */

  .accordion-container{
    height: fit-content;
    padding-bottom: 3.25em;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .accordion-columns {
    width: 100%;
    padding: 0 10%;

    @media only screen and (max-width: $TABLET-LG) {
      padding: 0 5%;
    }
    @media only screen and (max-width: $TABLET) {
      padding: 0 5%;
    }
    @media only screen and (max-width: $MOBILE) {
      padding: 0;
    }
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
  }

  .accordion section {
    display: block;
    // background-color: aliceblue;
  }

  .accordion section header {
    cursor: pointer;
    padding: 22px;
    color: $BRAND-BLUE;
    transition: background 1s ease-in-out;
    line-height: 30px;
    border-bottom: 1px solid lightgray;
  }

  .accordion section header h5 {
    font-size: 18px;
    font-family: $FONT-GOTHAM;
  }

  .accordion section header div {
    font-size: 18px;
    font-family: $FONT-GOTHAM;
  }

  .carrot {
    padding-left: 20px;
  }

  .accordion section header div:after {
    content: "›";
    font-size: 25px;
    display: inline-block;
    transform: rotate(90deg);
  }

  .accordion section .selected div:after {
    content: "›";
    font-size: 25px;
    transform: rotate(270deg);
    padding: 0 6px 0 0;
  }

  .accordion section header {
    display: flex;
    justify-content: space-between;
  }

  .accordion section .accord-content {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px 12px;
    padding-top: 0px;
    padding-right: 60px;
  }

  .accordion section .accord-content p {
    padding: 25px 0 0px;
    margin-bottom: 0;
  }

  .content-container {
    padding: 2em 3em 3em 3em;

    @media only screen and (max-width: $TABLET) {
      padding: 1.5em 1em 3em 1em;
    }

    @media only screen and (max-width: $MOBILE) {
      padding: 1em 1em 3em 1em;
    }
  }
}
