
@import "../application_config.scss";

.faq-container {

  /* BANNER */

  .banner-img {
    background-image: url("about_pages/faq/faq-banner.jpg");
    height: 430px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: $TABLET-LG) {
      background-image: url("about_pages/faq/faq-banner-tablet-lg.jpg");
    }
    @media only screen and (max-width: $TABLET) {
      background-image: url("about_pages/faq/faq-banner-tablet-mobile.jpg");
    }
    @media only screen and (max-width: $MOBILE) {
      background-image: url("about_pages/faq/faq-banner-tablet-mobile.jpg");
    }
  }

  .tagline-secondary {
    display: none;
  }

  /* ACCORDION */

  .accordion-container{
    height: fit-content;
    padding-bottom: 1.25em;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .accordion-columns {
    width: 100%;
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
  }

  .accordion section {
    display: block;
  }

  .accordion section header {
    cursor: pointer;
    padding: 22px;
    color: $BRAND-BLUE;
    transition: background 1s ease-in-out;
    line-height: 30px;
    border-bottom: 1px solid lightgray;
  }

  .accordion section header h5 {
    font-size: 18px;
    font-family: $FONT-GOTHAM;
  }

  .accordion section header div {
    font-size: 18px;
    font-family: $FONT-GOTHAM;
  }

  .carrot {
    padding-left: 20px;
  }

  .accordion section header div:after {
    content: "›";
    font-size: 25px;
    display: inline-block;
    transform: rotate(90deg);
  }

  .accordion section .selected div:after {
    content: "›";
    font-size: 25px;
    transform: rotate(270deg);
    padding: 0 6px 0 0;
  }

  .accordion section header {
    display: flex;
    justify-content: space-between;
  }

  .accordion section .accord-content {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px 12px;
    padding-top: 0px;
    padding-right: 60px;
  }

  .accordion section .accord-content p {
    padding: 25px 0 0px;
    margin-bottom: 0;
  }

  .content-container {
    padding: 2em 3em 3em 3em;

    @media only screen and (max-width: $TABLET) {
      padding: 1.5em 1em 3em 1em;
    }

    @media only screen and (max-width: $MOBILE) {
      padding: 1em 1em 3em 1em;
    }
  }

  .faq-inquiry-container {
    display: flex;
    justify-content: center;
  }

  .faq-inquiry {
    width: 60%;
    text-align: center;
    padding-bottom: 1em;

    p {
      padding-bottom: 1.25em;
    }

    @media only screen and (max-width: $TABLET-LG) {
      width: 80%;
      padding: 0 3em 2em;
    }

    @media only screen and (max-width: $TABLET) {
      width: 100%;
      padding: 0 3em 2em;
    }

    @media only screen and (max-width: $MOBILE) {
      width: 100%;
      padding: 0 3em 2em;
    }
  }
}
