@import "../application_config.scss";

.what-is-era-container {

  .standard-padding {
    @media only screen and (max-width: $TABLET-LG) {
      padding-top: 2em;
    }
    @media only screen and (max-width: $TABLET) {
      padding-top: 2em;
    }
    @media only screen and (max-width: $MOBILE) {
      padding-top: 2em;
    }
  }

  /* BANNER */

  .banner-img {
    background-image: url("about_pages/what_is_era/what-is-era-banner.jpg");
    height: 430px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: $TABLET-LG) {
      background-image: url("about_pages/what_is_era/what-is-era-banner-tablet-lg.jpg");
    }
    @media only screen and (max-width: $TABLET) {
      background-image: url("about_pages/what_is_era/what-is-era-banner-tablet-mobile.jpg");
    }
    @media only screen and (max-width: $MOBILE) {
      background-image: url("about_pages/what_is_era/what-is-era-banner-tablet-mobile.jpg");
    }
  }

  /* CONTENT */

  .container-section {
    max-width: 1200px;
    margin: auto;
    padding: 1em 0;
  }

  .mission-statement-content {
    padding-right: 0.75em;
    padding-left: 1.5em;

    @media only screen and (max-width: $TABLET) {
      padding: 2em 0.75em 0.75em;
    }
    @media only screen and (max-width: $MOBILE) {
      padding: 2em 0.75em 0.75em;
    }
  }

  .mission-statement {

    @media only screen and (max-width: $TABLET) {
      padding: 0 2em;
    }
  }

  .ethical-definition {
    padding: 2em;
  }

  // BOARD OF DIRECTORS

  .board-statement {
    padding: 0 30px;
  }

  .board-of-directors-photo {
    object-fit: none;
    cursor: pointer;

    &.janelle {
      object-position: 50% 30%;
    }
    &.angela {
      object-fit: cover;
      object-position: 50% 70%;
    }
    &.diane {
      object-fit: cover;
      object-position: 50% 11%;
    }
    &.brittnea {
      object-fit: cover;
      object-position: 50% 25%;
    }
    &.bri {
      object-fit: cover;
      object-position: 50% 12%;
    }
    &.misha {
      object-fit: cover;
      object-position: 50% 60%;
    }
  }

  .era-logo-container {
    @media only screen and (max-width: $TABLET) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    @media only screen and (max-width: $MOBILE) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .era-logo {
    width: 300px;
    padding-right: 1.75em;

    @media only screen and (max-width: $TABLET) {
      padding: 0;
    }
    @media only screen and (max-width: $MOBILE) {
      padding: 0;
    }
  }

  .blue-vertical-divider {
    border-right: 1px solid $BRAND-BLUE;
    border-radius: 0;
    padding: 0;

    @media only screen and (max-width: $TABLET) {
      border-right: 0;
    }
  }
}

/* MODALS */

.board-of-directors-modal {
  background-color: $WHITE;
  border-radius: 6px;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;

  & img {
    border-radius: 6px;
    height: 389px;
    display: flex;
    margin: auto;
    object-fit: cover;
  }

  &.tab {
    width: 10px;
  }
}

// OUR VALUES

.core-values-statement {
  color: $BLACK;
  ;
}

.core-value-banners-container {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}


.core-value-banner {
  height: 120px;
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $WHITE;
  text-shadow: $BLACK 0 0 12px;
  border-radius: 25px;
  background-position-x: 40%;
  position: relative;
  background-size: cover;

  .first-frame {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.25em;

    @media only screen and (max-width: $TABLET-LG) {
      line-height: 1em;
    }

    @media only screen and (max-width: $TABLET) {
      font-size: 26px;
      line-height: 1em;
    }

    @media only screen and (max-width: $MOBILE) {
      font-size: 22px;
      letter-spacing: 0.1em;
    }
  }

  .second-frame {
    font-size: 18px;
    letter-spacing: 0;
    position: absolute;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $WHITE;
    padding: 10px 80px;

    @media only screen and (max-width: $TABLET-LG) {
      padding: 10px 30px;
      font-size: 16px;
      line-height: 1.4;
    }

    @media only screen and (max-width: $TABLET) {
      padding: 10px 30px;
      font-size: 16px;
      line-height: 1.2;
    }

    @media only screen and (max-width: $MOBILE) {
      display: none;
      line-height: 1.2;
    }
  }

  &.partnership {
    background-image: url("about_pages/what_is_era/partnership.jpg");
    background-position: 55% 7%;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    @media only screen and (max-width: $TABLET-LG) {
      background-position: 30% 7%;
    }
  }

  &.accountability {
    background-image: url("about_pages/what_is_era/accountability.jpg");
    background-position: 50% 33%;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    @media only screen and (max-width: $TABLET-LG) {
      background-position: 30% 33%;
    }
  }

  &.trust {
    background-image: url("about_pages/what_is_era/trust.jpg");
    background-position: 45% 33%;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    @media only screen and (max-width: $TABLET-LG) {
      background-position: 50% 33%;
    }
  }

  &.respect {
    background-image: url("about_pages/what_is_era/respect.jpg");
    background-position: 45% 33%;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    @media only screen and (max-width: $TABLET-LG) {
      background-position: 40% 33%;
    }
  }

  &.integrity {
    background-image: url("about_pages/what_is_era/integrity.jpg");
    background-position: 45% 33%;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    @media only screen and (max-width: $TABLET-LG) {
      background-position: 50% 33%;
    }
  }
}


